[2016-05-30 18:38] thisconnect opened #3 "year selection"
hi, I love your calendar. Is there any way to easily select a year? I.e. 1950

[2016-05-30 18:47] clauderic commented on #3
Hey there, thanks for the kind words 😄

As for year selection, not currently, though this is one of the upcoming features. I haven't quite settled on what the UI is going to look like, but I was thinking of something along the lines of what's suggested in the [Material Design Guidelines for date-pickers](https://www.google.com/design/spec/components/pickers.html#pickers-date-pickers).

If you clic

[2016-05-30 20:33] capaj opened #4 "date range selection"
allow for selecting date range instead of 1 specific date

[2016-05-30 20:49] clauderic commented on #4
When building this component out, I thought of working on that functionality. However, I felt that there already were a lot of other great date-pickers out there that supported this kind of functionality.

Don't currently have plans to support this, but if you can make a case for why it should be supported, I'd be willing to consider it.

[2016-05-30 21:46] thisconnect commented on #3
Yes that looks pretty, would that be a scrollable list too?

[2016-05-30 21:58] clauderic commented on #3
Yep. Scrollable all the way from the `min` year to `max` year. My only concern UI wise is that it's kind of hidden, you have to know to click on the year. Android users will probably be familiar with that paradigm though

[2016-05-31 01:51] bvaughn commented on #4
A single input to pick a date-range makes for very difficult UX. (My wife has spent a lot of time recently working on one for internal use at Google, and it's a huge hassle.) Our advice (for what it's worth, if anything) would be to just use 2 date pickers for the range and save yourself a lot of headache. :)

[2016-05-31 02:00] clauderic commented on #4
@bvaughn That was kind of my take on this as well. Nevermind the fact that I feel like it's out of the scope of what this component aims to solve. Thanks for your advice, appreciate it

[2016-05-31 08:27] thisconnect commented on #3
Selecting the year to change it is ok. Birthdate is a good example, unless the person using the calendar is adding the date of her/his new born, it will always be a year far away in the past.

What do you think about an option to start with the year selector? This would make sense in cases where the year is expected to not be the current year, `pickYearFirst` or similar

[2016-05-31 19:24] marek-sed opened #5 "invalid number of rows"
when
min=05.2016
minDate=05.31.2016
locale={{week: { dow: 1, doy: 4 }}}

first row of june overlaps first row of may

[2016-05-31 19:43] clauderic commented on #5
That's not a valid format for min. Use min="05.01.2016" and it should work fine

[2016-05-31 20:03] marek-sed commented on #5
sry for not precise input

this is the setup that causes the issue
`<InfiniteCalendar
       min={moment().startOf('month')}
       minDate={moment().startOf('day')}
       locale={{week: { dow: 0, doy: 4}}} />`

I fixed it here [commit](https://github.com/marek-sed/react-infinite-calendar/commit/c3c1068d6f0bf09a621d0ef1e8176c78167e8b77)

[2016-05-31 20:05] clauderic commented on #5
Hmm. Interesting, in theory moment.week() should be locale aware. I'll check it out

[2016-05-31 21:46] #5 closed

[2016-05-31 21:49] clauderic commented on #5
File this one in the `wtf` category. For some reason, Moment.js wasn't picking up that a custom locale was present when this function was being run on initial render. Force-feeding it the locale fixed it

[2016-06-01 04:49] marek-sed commented on #5
Thx for the fix.
Btw the calendar is awesome btw, beautifully made.

[2016-06-01 05:06] marek-sed opened #6 "display custom states(events) for each day"
Hi,

Is there a way to display  states like birthday, federal holidays, events on each day?

[2016-06-01 14:34] clauderic commented on #6
I think the best way to go about this would be to provide a custom day renderer function and a custom selected state renderer. Thoughts?

[2016-06-01 16:37] marek-sed commented on #6
yes I was thinking something like that. Basically looking at date component at it is written now,
it has 2 parts. Wrapper Component that handles click events and disabled state, and creates data needed for display component. And Display Component, which receives the needed data, and handles state('selected', 'normal'). So it would be nice if user can provide this custom display component.

What do

[2016-06-01 16:45] clauderic commented on #6
I have a pretty good idea of how I would implement it, but I'm curious to see how you would implement it. How about you take a first stab at it and we'll take it from there :)

[2016-06-01 17:26] marek-sed commented on #6
Yeah thats sounds like a good plan :)

[2016-06-02 20:54] aaronucsd opened #7 "Add time picker"
Can we add time picker with the date?

[2016-06-03 18:04] kennetpostigo opened #8 "Calendar Events"
Is it possible to add Events to the calendar? Like say programmatically load in upcoming events and have them highlighted?

[2016-06-03 18:06] clauderic commented on #8
Not currently, but there is a proposed approach to handling this. Duplicate of https://github.com/clauderic/react-infinite-calendar/issues/6, please discuss there

[2016-06-03 18:43] #8 closed

[2016-06-03 22:12] kennetpostigo commented on #6
@clauderic  @marek-sed it would be pretty neat if there was a tool-tip shown when an event is hovered on or clicked on. What do you guys think?

[2016-06-04 09:54] rankun203 opened #9 "Hard to decide if I should star this repo!"
<img width=110 src='https://cloud.githubusercontent.com/assets/2988555/15798930/702f734e-2a7d-11e6-9a23-215adb5eff9e.png'>

As you can see, there is 666 stars, which means, some way a good number. Maybe I should just leave it and add as a bookmark.

[2016-06-04 09:57] rankun203 opened #10 "Support years selection to 1970"
I noticed now it can only select a date from 1980. I'm not sure why. Why not _Jan 1 1970 12AM UTC_?

[2016-06-04 09:58] rankun203 opened #11 "Support years selection panel"
It's good to have a _year_ selection panel since some kind of mice are just not good at scrolling.

[2016-06-04 09:59] #11 closed

[2016-06-04 12:57] clauderic commented on #10
This is already supported. Just tweak the `min` and `minDate` props

[2016-06-04 12:57] #10 closed

[2016-06-04 12:58] clauderic commented on #9
Too late now... I suppose you'll just have to wait for `777` now ;p

[2016-06-04 12:58] #9 closed

[2016-06-05 03:16] clauderic commented on #3
Still a bit of work to do to properly add tests to this and tweak keyboard support, but the core functionality of jumping to years has been implemented. Should release to `npm` within a day or two

<img width="477" alt="screen shot 2016-06-04 at 11 13 15 pm" src="https://cloud.githubusercontent.com/assets/1416436/15803408/01bc28d0-2aaa-11e6-8c67-c90a934e48ef.png">

I've added an orange line under

[2016-06-05 10:03] thisconnect commented on #3
Looks very pretty, what do you think about an `showYearFirst` option?
Additionally maybe `showYearOnly` if one needs just a year picker?

[2016-06-05 15:01] clauderic commented on #3
I added a prop called `display` which can be set to either `years` or `days`, which effectively does the same thing as what you're describing. As for something like `showYearOnly`, I don't thinkg that's really a use case I'm willing to support.

[2016-06-05 18:32] mike623 opened #12 "port to react native"
Great job man. I very interested that will you try to port to RN version?

[2016-06-05 18:39] clauderic commented on #12
Hmm. Haven't given much thought to this yet, but I suppose I *could*. From what I've seen so far, the available calendar components for React Native aren't that great. If there's enough interest for this, I suppose I could consider it.

In the meantime though, you could look into bridging https://github.com/ruslanskorb/RSDayFlow, which is very similar to `react-infinite-calendar`

[2016-06-05 19:49] clauderic commented on #3
This has been released 🎉

[2016-06-05 19:49] #3 closed

[2016-06-06 08:47] thisconnect commented on #3
Looks very pretty, thanks a lot!

Would it make sense to add an event onYearSelect or similar?

[2016-06-06 12:14] clauderic commented on #3
Possibly. Though I can't really think of a use case that would be solved by simply listening to onDateSelect. Do you have a use case in mind?

[2016-06-06 15:47] thisconnect commented on #3
Oh thanks yes that should be sufficient

[2016-06-07 21:39] vinceprofeta commented on #12
I would be totally down to help port this over to RN.

[2016-06-08 04:04] SeanLF opened #13 "Multi datepicker"
Would it be within the scope of this component to allow for the selection of one or more dates?

[2016-06-08 04:07] clauderic commented on #13
You mean like a date range? If so, it's been discussed at length already in #4

[2016-06-08 04:10] SeanLF commented on #13
No, I meant selecting multiple individual dates.

[2016-06-09 01:15] clauderic commented on #13
Ah, I see. Possibly, though I'm not exactly sure how you would render that in the header. If you remove the header, then yes, it wouldn't be too difficult I suppose

[2016-06-09 01:20] SeanLF commented on #13
What do you think about adding [carets](http://fontawesome.io/icon/caret-left/) or [chevrons](http://fontawesome.io/icon/chevron-left/) to navigate through the selected dates?

[2016-06-09 01:25] clauderic commented on #13
Hmmm. I suppose that's not a horrible solution. I won't have time to tackle this for a couple of weeks, but I'll happily accept a PR. It should be fairly trivial to allow `selectedDate` to be an array, and from there it's simply a matter of tweaking the header

[2016-06-09 01:26] SeanLF commented on #13
I'll see what I can do 👍

[2016-06-09 07:35] gor181 opened #14 "Specifying Width/Height in %"
Hello,

I have encountered following issue: http://prntscr.com/be6h27
Seems that specifying width and height in % is not possible despite documentation saying so?

Component used as:

[code]
Some parts are not provided for brevity.

Thanks,

[2016-06-09 07:37] gor181 commented on #14
This can also be solved by using

[code]

Which works fine on mobile and desktop.
Maybe just to update docs ?

[2016-06-09 11:22] clauderic commented on #14
Yeah, for certain you need to provide a number width. This is because the VirtualScroll needs to know how many months it needs to render on-screen. I'll need to update the docs to make it clearer. Percentage width *should* work, but there's currently a bug I need to fix with the year picker and percentage width.

If you want, you can look into using something along the lines of https://github.com/

[2016-06-09 11:34] gor181 commented on #14
Thanks @clauderic

[2016-06-11 04:07] jamestwiggle commented on #6
@marek-sed @clauderic what is the status on this?

[2016-06-11 06:31] clauderic commented on #6
Haven't heard back from @marek-sed, I'll get around to tackling this next week. Tooltip would be nice for sure, but I'm probably going to build the logic for this to be as abstract as possible and then provide a couple of examples fecipes

[2016-06-11 12:41] marek-sed commented on #6
Hi @clauderic  @jamestwiggle , sry I went silent, was quite busy.
I just issued the pull request for this.

[2016-06-11 14:36] marek-sed opened #16 "Click events"
Click events have sort of strange names, it took me a while to realize what are they doing.
beforeSelect -> onClick, that stops event propagation
onSelect -> onSelect,
afterSelect -> onSelected.

Also when I define beforeSelect then onSelect and afterSelect will not be called. I think
this should be decided by user.

[2016-06-13 09:04] wmertens commented on #4
I must say that I really like the datepicker that Ryanair uses https://www.ryanair.com/gb/en/ (pick a destination airport to see it). It shows two date input fields and automatically focuses on the next one when you pick a date

[2016-06-15 09:30] syko commented on #4
Yeah, ryanair's datepicker is basically 2 range-pickers in sync with each other.
My "strong case" for it is that it's an awesome datepicker and it's lacking a function that we really need.

Would you be willing to accept a PR if we implemented range selection in a backwards-compatible manner?

[2016-06-15 10:39] clauderic commented on #4
I'd happily accept a PR, so long as the UX is on fleek... :P

[2016-06-15 10:41] syko commented on #4
I wouldn't have it any other way ;)

[2016-06-16 02:29] shikelong opened #18 "about i18N"
how to internationalization the calendar?

[2016-06-16 02:33] shikelong commented on #18
sorry, I find it in the demo.

[2016-06-16 02:33] #18 closed

[2016-06-16 07:27] shikelong opened #19 "how to customized some days's style?"
I want to add some label or badges to some day.
how do It ?

(isn't `Dynamic Selection Color`)

Regards.

[2016-06-16 11:44] clauderic commented on #19
Duplicata of #6

[2016-06-16 11:44] #19 closed

[2016-06-17 06:09] shikelong commented on #6
when can you release the new npm package that merged this pull request ?

Regards. @clauderic

[2016-06-17 07:28] clauderic commented on #6
I'll take a look at it next week, I'm currently on vacation :)

[2016-06-19 13:33] andrewoh531 opened #21 "Day of week across the top doesn't properly align with dates"
When the width is quite small as in my case the day of week doesn't align well with the dates due to the scroll bar. Example in the screen shot below 4th of June sits somewhat between Friday and Saturday.

![screen shot 2016-06-19 at 11 30 57 pm](https://cloud.githubusercontent.com/assets/4927570/16177605/2c57cee6-3676-11e6-8b14-7a00b409f424.png)

[2016-06-22 13:48] kristojorg commented on #12
I'm interested!

[2016-06-22 17:24] offsky commented on #4
Could range selection be done via click and drag to select a range of dates? That doesn't seem to me like it would impact the current design much and could be disabled by default.

[2016-06-22 17:37] wmertens commented on #4
I rather imagine it would work like
http://onefinestay.github.io/react-daterange-picker/ but with infinite
scrolling added… I don't think click and drag is very accurate?

On Wed, Jun 22, 2016 at 7:24 PM Jake Olefsky <notifications@github.com>
wrote:

--

Wout.
(typed on mobile, excuse terseness)

[2016-06-22 20:33] offsky commented on #4
Here is a crude half-finished prototype of drag and drop date selection.
https://github.com/Toodledo/react-infinite-calendar/tree/selectRange

I'm probably going to keep working on this.

[2016-06-22 20:37] wmertens commented on #4
Nice! But how will that interact with touch scrolling? Long press to start
the drag?

On Wed, Jun 22, 2016 at 10:33 PM Jake Olefsky <notifications@github.com>
wrote:

--

Wout.
(typed on mobile, excuse terseness)

[2016-06-22 21:07] offsky commented on #4
It probably won't do any drag select on touch since Im using "onMouse" instead of "onTouch". Havent tested.  It could be modified pretty easily to behave like the example you posted above. The thing I don't like about that example is you can't easily select a range of 1 day.  Still working on it

[2016-06-22 21:25] clauderic commented on #4
Hey @offsky, nice job. I played with your fork a little, it's still a little rough around the edges, but a lot better than I expected. Auto scrolling up/down is a really nice touch.

I have to say it's a little quirky to have to drag select on desktop though, I feel like it would be more natural if it was on hover once you select your start date. There's also the challenge of figuring out how this

[2016-06-22 22:53] offsky commented on #4
Not yet. Its very much a work in progress. I just checked in some changes to my fork that will allow it to work on touch devices and handles range sections where (star>end). I also made the CSS a little nicer and got the before/on/after events firing appropriately.

If you prefer [click hover click] instead of what I have done [click drag release] it would be pretty easy to support this. Its essen

[2016-06-23 12:32] clauderic commented on #21
Well it's either that or have the scrollbar cover the dates. Not sure which is the least offensive...

[2016-06-23 17:14] offsky commented on #4
Ive gotten my branch pretty close.  It now works with `disabledDates/disableDays` and the header displays the range appropriately.  Can you please take a look?

You'll need to set `allowRanges=true` on the component since I have range selection disabled by default to preserve backwards compatibility with your component.  I have the behavior set to [click drag release] right now. If you want to see

[2016-06-23 18:48] offsky commented on #21
In JS you can inspect the `clientWidth` or `scrollWidth` of the innerScrollContainer. If it is smaller than it's parent's width then you add padding after "Sat" equal to the difference.

[2016-06-23 18:49] offsky commented on #16
If you define beforeSelect then you need to return true from that function if you want the other events to be called. Otherwise the selection is canceled as described in the docs.

[2016-06-23 19:08] offsky opened #22 "Allow weeks to start on Monday"
Can we have a setting to allow the week to start on Monday instead of Sunday?  Monday is the first day of the week in much of the world.

http://www.timeanddate.com/calendar/days/

[2016-06-23 19:10] clauderic commented on #22
There is :) http://clauderic.github.io/react-infinite-calendar/#/basic-settings/first-day-of-the-week

Example usage:
[code]

[2016-06-23 19:10] #22 closed

[2016-06-23 19:11] clauderic commented on #21
Hmm 🤔 Yeah that could work, I'll give it a spin

[2016-06-23 21:03] marek-sed commented on #16
@offsky thx I must have missed that,
expected it to behave same as js Event, which propagates by default.

[2016-06-23 21:47] offsky commented on #22
Doh!  I should have read the manual more carefully. Sorry

[2016-06-23 23:19] Ruzo opened #23 "Display issue in days or years panel on page load until scroll is initiated"
Kind of a newbie here but did not see this issue mentioned anywhere.

On page load and reload, when display="days",  the days' panel is blank or half-filled when the min date is more than a few months apart than the selectedDate (even in the basic configuration).
Same as when display="years" but the min and selectedDate need to be about 20 years apart.

The '.Grid__cell' divs seem to be pushed dow

[2016-06-24 07:04] thisconnect commented on #22
Shouldn't Monday be the default?

[2016-06-24 12:25] clauderic commented on #22
I don't think there really is a right or wrong answer to that question.

Monday is the default value in the ISO standard, but Sunday is the default value for [Moment.js](http://momentjs.com/)'s default locale (`en`). It's also a common default value, lots of [other](http://fullcalendar.io/) [calendar](http://amsul.ca/pickadate.js/) widgets have selected it.

[2016-06-24 19:00] offsky opened #24 "Floating Today Helper not reliable"
Ive noticed some bugs with the floating today helper. My interpretation of the helper is that if "today" is not visible on the screen, then the helper appears.

1) If you scroll all the way to the top, it hides. I think it should stay visible.
2) When scrolling back in time, the helper does not appear until "today" is several weeks below the fold.
3) When scrolling forwards in time, the helper doe

[2016-06-24 19:10] clauderic commented on #24
Those cases were all conscious decisions.

1) It's hidden when `scrollTop == 0` so as to not cover the dates underneath it
2 & 3) I think it would be annoying from a UX perspective to immediately show the today helper the instant `today` is no longer visible. It was implemented this way so as to be a helpful, unobtrusive way to scroll back to the current date when the user might have reasonably lo

[2016-06-24 19:36] offsky commented on #24
Ok on #1. In the case of 2&3, can we have the helper appear when "today" has been scrolled the same distance out of view?  Right now scrolling up is about 2 weeks and scrolling down is about 4 weeks. Two blank rows feels about right to me, 4 feels like too much.

[2016-06-24 19:57] clauderic commented on #24
They definitely should be the same, I remember that being an issue and never got around to fixing it. How about a prop along the lines of `todayHelperOffset`?

[2016-06-24 20:22] offsky commented on #24
I dont think we need a prop for this.  Too many props becomes overload.  Whatever you decide is fine but it would be nice if both directions were consistent.

[2016-06-25 07:56] Lakshman-LD commented on #13
Any updates on multi - date picker ?

[2016-06-28 21:03] bvaughn commented on #21
You may be aware of this already @clauderic, but react-virtualized uses the `dom-helpers/util/scrollbarSize` helper function for this.

[2016-06-29 00:27] clauderic commented on #23
At first sight, this appears to be a bug with scrollbars and newer versions of https://github.com/bvaughn/react-virtualized/, I'll follow-up when I know more / find a solution

[2016-06-29 02:11] bvaughn commented on #23
@clauderic and I chatted about this in Gitter and a guard for this edge-case (`scrollTop` being set before CSS styles have loaded) has been added to react-virtualized `Grid`. This has been released via 7.11.5.

[2016-06-29 02:12] bvaughn commented on #23
`npm i react-virtualized@7.11.5 --save` and try again?

[2016-06-29 03:51] clauderic commented on #24
Just published `1.1.15` which addresses this and adds the `todayHelperRowOffset` prop if you wish to customize the number of rows to scroll past before it appears.

[2016-06-29 03:57] clauderic commented on #23
Just published `1.1.15` which is updated to use the latest version of `react-virtualized`

[2016-06-29 03:57] #23 closed

[2016-06-29 03:57] clauderic commented on #21
Just published `1.1.15` which fixes this issue

[2016-06-29 03:57] #21 closed

[2016-06-29 03:58] clauderic commented on #14
Just published `1.1.15` which now properly supports providing width as percentage as per the docs

[2016-06-29 03:58] #14 closed

[2016-06-29 04:00] clauderic commented on #16
Going to close this one out as I don't really think this is an issue and the docs are clear.

[2016-06-29 04:00] #16 closed

[2016-06-29 18:16] offsky commented on #21
I think maybe there is still a small bug with this. The weekday headers now take the scrollbar into account, but the calendar days no longer do so (see screenshot):

![screen shot 2016-06-29 at 11 15 50 am](https://cloud.githubusercontent.com/assets/1110926/16463478/df2a3074-3dea-11e6-8181-15b671683f3c.png)

[2016-06-29 18:20] offsky commented on #24
Thanks for working on this.  I think there may still be a bug. The Today helper is appearing for me even when today is still visible (see screenshot):
![screen shot 2016-06-29 at 11 17 20 am](https://cloud.githubusercontent.com/assets/1110926/16463628/74fb9566-3deb-11e6-8675-8105d202587e.png)

[2016-06-29 18:37] offsky commented on #24
I belive this is the fix:
`} else if (scrollTop <= this.todayOffset - monthHeight - rowHeight * todayHelperRowOffset) {`

[2016-06-29 21:16] clauderic commented on #21
@offsky That's not what I'm seeing on my end using Chrome on a mac. Can you create a repro of this? Here's a jsfiddle you can fork https://jsfiddle.net/clauderic/4rhn03do/

[2016-06-29 23:13] offsky commented on #21
Ok, I may be narrowing in on the issue. I am also using Mac Chrome and the jsfiddle you provided looks fine.  However, my local clone of your repository has the error shown above.  I then built the local repository and ran that, and its ok.

So the bug that I noticed only appears in the dev environment (`npm start` then http://localhost:3001/).  The build process somehow fixes the problem.

Restor

[2016-06-30 00:49] clauderic commented on #21
@offsky If you're working off the dev environment, perhaps a fresh `npm install` is in order?

[2016-06-30 02:05] Ruzo commented on #23
Sorry I missed the replies. Thanks for the fix. Works great.

[2016-06-30 18:00] offsky commented on #21
Yep! I had run `npm install` after your update, but it seems it didn't pick up the changes until I did a fresh install. Thanks for the nudge and sorry for the noise.

[2016-07-03 00:51] ncammarata commented on #13
Would also like multiple dates, and date ranges if possible. Would love love a status update if there is one!

[2016-07-05 02:34] clauderic commented on #12
I've began experimenting a little to gage the level of effort that would be required to port to React Native. Within about an hour or two I was able to set up a basic ListView with the same look and feel as React Infinite Calendar, which I though was pretty fantastic. However, I've since hit a few roadblocks.

First off, if you try to set the initial `contentOffset` (which is a prop only supported

[2016-07-05 17:01] olslash commented on #4
Super good, thanks for working on this @offsky. I have a usecase in mind for it at work already.

For the record, i'm +1 on using the touch behavior by default, so a prop for that would be nice.

A couple bugs i see:
* When loading the `npm start` page, the default selection is strange (screenshot below).
* The "Today ^" link doesn't seem to work anymore

![image](https://cloud.githubusercontent.c

[2016-07-07 16:39] joshuapinter commented on #12
I would absolutely be willing to help port this over. Currently using [CalendarPicker](https://github.com/stephy/CalendarPicker/) and although Stephy has done a good job, the performance is weak and it isn't well maintained.

Just a heads up that you can limit the number of rows that a ListView pre-renders quite easily with the following props:

I'll have a look at the repo when I get some free ti

[2016-07-07 18:25] offsky commented on #4
I have fixed the bug with the initially set date range showing that odd behavior if they are set backwards (start>end).

I also added a prop (rangeSelectWithDrag default true) for the drag vs touch behavior of selecting the range.

https://github.com/Toodledo/react-infinite-calendar/commit/16436fd4302a93446cf6133b3bb8a7df2544ad6c

[2016-07-07 18:50] offsky opened #26 "Numbered badges for particular days"
I needed small colored number badges to show up on particular days, so I built this for myself.  Id be happy to clean up my code and create a pull request if this was functionality that you wanted in your project.

![screen shot 2016-07-07 at 11 41 25 am](https://cloud.githubusercontent.com/assets/1110926/16665527/cbe334f8-4438-11e6-9852-eea598d30830.png)

[2016-07-08 05:56] thisconnect commented on #4
click hover click should be default IMO

[2016-07-08 07:05] hiddenl00p commented on #6
@clauderic I understand this may be your side project, but do you know when you will be able to support this?

[2016-07-09 10:37] joeblew99 opened #27 "2 Bugs on mobile that make it not usable"
Take the example here:
http://clauderic.github.io/react-infinite-calendar/#/customization/landscape-layout?_k=2xr4cj

Load it on you mobile, and the problems are pretty clear:

1. is not responsive, in that it does not scale down at all. The right hand side of the cal is off the screen even

2. When you swipe the cal down, it sometimes will scroll the cal, but mayn times will cause the mobile page

[2016-07-09 11:31] ThomsCass commented on #27
On what mobile ? I use it on Android and got no problems it is not responsive so you have to fix the size.

[2016-07-09 13:54] clauderic commented on #27
@joeblew99 I'm happy to help but you have to provide *details*... What device are you using? What browser?

Even so, I haven't spent much time optimizing all the demos for mobile, so it's possible that the issues you're referring to are only specific to the demo site. I'm using `react-infinite-calendar` in a Cordova app and it runs great for both iOS and Android on my end.

To make the calendar re

[2016-07-12 11:24] Parvinder1991 opened #28 "Warning on selecting date from the infinte calender"
Warning: Failed propType: Invalid prop `shouldHeaderAnimate` of type `string` supplied to `Header`, expected `boolean`. Check the render method of `InfiniteCalendar`.

Object { selectedDate: Object, shouldHeaderAnimate: ".0.0.1.0.0.0.0.0.2.0.0.0.0.2.0.0.1.1.1.0.$3-0.$Month-3.0.$Row-1.$day-6", layout: "portrait", theme: Object, locale: Object, scrollToDate: InfiniteCalendar/_this.scrollToDate(), se

[2016-07-12 13:44] RahulDole opened #29 "Doesn't render while using the UMD build"
I'm using the UMD build by just adding the single script react-infinite-calendar.js and then I'm using the example code on your page.
But it gives this React error (I'm using React version 0.15):
`React.createElement: type should not be null, undefined, boolean, or number.`

[2016-07-12 13:54] clauderic commented on #28
Did you pass in a custom `shouldHeaderAnimate` prop of type `string`? If not, can you share some more details and some code?

[2016-07-12 13:58] clauderic commented on #29
I've updated the UMD documentation slightly. InfiniteCalendar is available on the `window` object as:
[code]

See this [jsfiddle](https://jsfiddle.net/clauderic/4rhn03do/)

[2016-07-12 13:58] #29 closed

[2016-07-12 14:02] RahulDole commented on #29
Oh great! Thanks for sharing that and updating the doc.

[2016-07-12 14:03] RahulDole commented on #29
Great! I tried that and now it works :) Thanks a lot, amazing work! :)

On Tue, 12 Jul 2016 at 19:28 Claudéric Demers <notifications@github.com>
wrote:

[2016-07-13 02:22] shikelong opened #30 "why move the react-addons-css-transition-group and react-addons-shallow-compare Dependencies to peerDependencies?"
In npm v3. use `npm install` without arguments can't auto automatically install peerDependencies.

[2016-07-13 05:20] Parvinder1991 commented on #28
No i didnt pass a custom shouldHeaderAnimate of type string ...here are some more details

//for toggling calender
toggleCalender() {
    switch(this.state.showcalendar){
      case true:
        this.setState({showcalendar: !this.state.showcalendar, today: this.state.today, minDate: this.state.minDate, maxDate: this.state.maxDate});
      break;
      case false:
        this.setState({showcalend

[2016-07-14 07:58] olslash commented on #4
Hey @clauderic, I'd love to see this on master -- what's the path towards getting it merged look like?

[2016-07-17 00:45] sandysaders opened #31 "Moment Dependency Concern"
I've been using this component in my application and we're getting ready to deploy. However as we have been optimizing the size of out application we began using webpack dependency graph to visualize what is taking up the most size in our application. Turns out it's `moment.js` which is coming from `react-infinite-calendar` is taking up 20% of the application size. Is there anyway you guys could s

[2016-07-17 01:04] clauderic commented on #31
Unfortunately it appears not, check out https://github.com/moment/moment/issues/2373 for more info. Just a thought, and not sure whether this is an option for you, but if size is a concern you can perhaps try using [rollup](http://rollupjs.org/)

[2016-07-17 02:17] clauderic commented on #28
Would you mind replicating this bug in a jsfiddle? Having a hard time wrapping my head around what exactly it is you're doing. You can fork this [fiddle](https://jsfiddle.net/clauderic/4rhn03do/)

[2016-07-17 02:17] #27 closed

[2016-07-17 02:18] clauderic commented on #26
Yeah this looks promising, you can submit a PR for it and we'll discuss there 👍

[2016-07-17 02:18] #26 closed

[2016-07-17 02:18] #31 closed

[2016-07-17 02:22] clauderic commented on #4
@olslash I haven't had the chance to take a look at @offsky's latest changes yet but from what I last saw I think most of the work for this to be merged back into master would be related to tweaking the look & feel, needs a bit more spit & polish. I also strongly believe the default behaviour on desktop should be `click–hover–click`

[2016-07-17 15:58] sandysaders commented on #31
@clauderic I'm using webpack instead of rollup, It's just jarring that a 3rd party component is accountable for 20% or greater of the application I'm working on. It is also not really the component itself taking up the size but rather its dependencies. Given that our application Is extremely large this should give pause for concern. It is also quite noticeable as the page that we are dropping the

[2016-07-17 16:04] clauderic commented on #31
To be clear, I agree with you on all points stated above. Unfortunately I don't have the capacity to look into this at the moment, though I might someday given enough interest. If it's something you feel strongly about, I'd happily accept a PR to switch from `moment` to [date-fns](https://github.com/date-fns/date-fns)

[2016-07-17 17:04] sandysaders commented on #31
Maybe https://github.com/react-component/calendar can give you an Idea of how to handle locale without moment. We're moving to this calendar with a smaller footprint for now.

[2016-07-18 20:58] offsky commented on #4
My latest changes resolve all the issues that I am aware of, so please check it out.  The click–hover–click thing is a single boolean in the default props, so thats easy to change either direction. Do you want me to submit a pull request?

[2016-07-18 21:12] masylum commented on #30
Same here

[2016-07-19 00:34] bjbrewster opened #32 "Option to show week number?"
Hello,
I had a look at the API and couldn't see an option to show week numbers.  I would love to use this component but most of our customers in Europe require the week number of the year (from 1 to 53), using a standard ISO calculation (https://en.wikipedia.org/wiki/ISO_week_date).

Should I create a Pull Request to add the extra column?

Thanks,
Bren

[2016-07-19 12:15] efegurkan commented on #28
It might be webpack specific BTW. I am also having the same issue when I tried to do.
Nothing but this on a dummy page with a render on it. Also I installed it using node 5.12.0 npm 3.8.6.

Out of the topic: Had a hard time to set this up using webpack because it didn't wanted to include moment-range to the build. Then upgraded to node version above, It is solved kind of.

[code]

[2016-07-20 13:21] clauderic commented on #32
Ah, yes. Regarding PR: Absolutely!

[2016-07-20 13:22] clauderic commented on #4
@offsky Absolutely, create the PR and we can discuss there :)

[2016-07-22 06:31] bhsiung opened #34 "[Request] Callback on arrow keyPress"
Hi there,
I've found a missing logic for keyboard support. Which is to have a callback every time user press arrow key and have the current date as param

thank you!

[2016-07-26 14:42] offsky commented on #4
I have created the pull request, but it is failing the CI.  I have looked at the results and I can't figure out why. All the tests pass on my machine. Can someone please try running the tests for me and let me know if they get different results?

[2016-07-26 16:16] offsky opened #35 "Scroll to new date when changed via Props"
When the selected date is changed via external props update, it would be nice if the calendar scrolled to the new date.

[2016-07-26 19:26] #35 closed

[2016-07-27 17:05] kristojorg commented on #12
@joshuapinter have you made any progress on this? I'm considering porting this for react native and I don't want to run into the issue that clauderic saw where you have to wait for everything to load even when using the `contentOffset` property. Did those props actually change the effect?

Thanks!

[2016-07-27 17:09] joshuapinter commented on #12
@kristojorg Not yet, no. Keep me posted, though.

[2016-07-27 19:36] execat opened #37 "Way to start from a date other than month start"
Is there a way to start the calendar from a non-1st?
Like beginning of this week, for example?

[2016-07-29 09:04] shikelong opened #38 "How can I get the date scroll to?"
Now the onScroll Event can only get some Number.

Regards.

[2016-07-30 02:25] clauderic commented on #37
How do you mean? In terms of rendering, no. You can set the previous dates to be disabled however and specify a `minDate` to render

[2016-07-30 02:54] clauderic commented on #12
@joshuapinter @kristojorg I don't believe any of those optimizations would help. I've tried all of them and AFAIK they don't solve the issue, that is, that ListView will still try to render every single row before the current month to reach the initial `contentOffset` value.

I'm scratching my head trying to think of workarounds / different ways to approach the problem. If any react-native wizards

[2016-07-30 03:22] clauderic commented on #38
This isn't something that's currently supported, though feel free to submit a PR. I don't know what your use case is, but if you're only interested in knowing if a user has scrolled past a specific date, then you can calculate the specific offset of that date and compare the scroll offset to that.

Otherwise you can get a general idea of the current week being scrolled over by calculating the curr

[2016-07-30 03:24] clauderic commented on #34
This isn't something that's currently supported, though feel free to submit a PR. If the user uses the keyboard and selects a date, a callback *will* be fired when the date is selected.

[2016-07-31 14:37] kristojorg commented on #12
@clauderic the best approach I can think of is to manually virtualize a datablob just like ListView does and then to allow scrolling in either direction.

I very briefly tried this and the problem I was seeing was that when you insert new items at the top of the underlying `ScrollView` everything gets pushed down. I am sure there is a way to keep the `ScrollView` positioned correctly, just haven't

[2016-07-31 14:39] kristojorg commented on #12
This exact same problem would actually solve a bunch of `ListView` related issues, like the ability to scroll to a row by id with dynamic height rows and the ability to load a `ListView` from bottom up (for a chat-like interface for example).

Definitely something I'm considering working on in a few weeks. It's been a pain for me so far.

[2016-08-01 01:43] execat commented on #37
@clauderic Yes, but the experience on using `minDate` especially in final few days of the calendar month might not be desirable for every use case because the calendar shows 75% of more of the dates grayed out with the final few dates clickable.

An example where this is desired is a planning app where you'd usually have to plan in the next one month and do not care about the past events.

[2016-08-01 03:32] clauderic commented on #37
I see. I'm afraid that's not really a use case I'd be willing to support at the present time given the complexities it entails, though feel free to submit a PR if you feel strongly about it and I'll be happy to review it.

[2016-08-01 03:32] #37 closed

[2016-08-02 07:45] tommedema commented on #13
We also need this. If anyone created a fork that we can base our work on, we would very much appreciate it.

[2016-08-02 19:06] rbsandoval opened #39 "Is this plug in Bootstrap Friendly?"

[2016-08-03 01:38] clauderic commented on #39
I haven't tried but there shouldn't be any conflicting CSS class names, so it should work just fine, yes.

[2016-08-03 01:38] #39 closed

[2016-08-03 03:13] blackChef opened #40 "Click on today helper not work."
import React from 'react';
    import ReactDOM from 'react-dom';
    import InfiniteCalendar from 'react-infinite-calendar';
    import 'react-infinite-calendar/styles.css';

    ReactDOM.render(
      <InfiniteCalendar />,
      document.querySelector('.appContainer')
    );

This is my code, nothing special. I traced down the source code, found out that I got undefined scrollEl every time. Pleas

[2016-08-03 15:30] clauderic commented on #40
Can you provide more details about your setup? What version of react are you using? Is this something you're able to replicate in a jsfiddle? https://jsfiddle.net/clauderic/4rhn03do/

[2016-08-04 01:31] blackChef commented on #40
There's really no more details about it. You demo works fine for me, but I don't know why it doesn't work when I use it in code.
I create a repo [here](https://github.com/blackChef/react-infinite-calendar-test/). You can help me check it.

[2016-08-04 02:03] #40 closed

[2016-08-04 02:04] clauderic commented on #40
Thanks for sharing the repo. Allowed me to pinpoint the issue. Had to do with a change introduced in react-virtualized as of 7.15.1. I'll be releasing a fix for this to npm shortly

[2016-08-04 02:16] clauderic commented on #28
Closing this due to inactivity. Feel free to re-open if you can reproduce this or if anyone else runs into this, but I'm unable to do so on my  end.

[2016-08-04 02:16] #28 closed

[2016-08-04 08:20] tommedema opened #41 "Error: addComponentAsRefTo(...)"
I'm trying to use `react-infinite-calendar` in an existing react app. These are my steps:

1. because our webpack config excludes `node_modules`, webpack wouldn't run the loaders needed by react-infinite-calendar, therefore I created 2 new loaders in our webpack config:

            {
                test: /\.jsx?$/,
                loaders: ['babel'],
                include: /react-infinite-cale

[2016-08-04 08:31] tommedema commented on #41
Shouldn't you define `react` as a `peerDependency` rather than a `dependency`?

[2016-08-04 11:55] clauderic commented on #41
Hey @tommedema, regarding your css loader, all you need is style-loader and css-loader, something along the lines of:

[code]

As for the second issue, I just removed react from dependencies, inadvertently let it crawl back there without noticing.

You most likely have two versions of React installed. You can usually safeguard against this with something like this in webpack:

[code]

[2016-08-04 11:55] #41 closed

[2016-08-04 11:59] clauderic commented on #30
This is by design, in order to avoid having version conflicts when using react-addons-* libraries and maintain compatibility with React 0.14, my understanding is that the library has to be a peerDependency.

[2016-08-04 11:59] #30 closed

[2016-08-04 13:52] Parvinder1991 opened #42 "Warnings on using Infinte calender"
main.js:67004 Warning: You are manually calling a React.PropTypes validation function for the `locale` prop on `InfiniteCalendar`. This is deprecated and will not work in the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for details.
And 66 more similar warnings

[2016-08-04 16:40] clauderic commented on #42
Hmm, don't think this has to do with `react-infinite-calendar`. Unless I'm mistaken, I'm under the impression this is something specific to your implementation, because I can't think of anywhere in the code where a React.PropTypes validation function is called manually.

Can you share some code? Do you have any custom PropTypes validation on your end?

[2016-08-05 02:51] shikelong commented on #38
Thank you.

[2016-08-05 02:51] #38 closed

[2016-08-12 07:22] tommedema opened #43 "Locale does not apply to dates created in util.js"
When applying locale like so:

[code]

_(I've changed "August" to "testing" and "Aug" to "tst")_

The labels of the days of the week get translated correctly. However, the months do not:

![screen shot 2016-08-12 at 15 16 16](https://cloud.githubusercontent.com/assets/331833/17615321/050625d2-60a0-11e6-8718-a4c8f44ae6c2.png)

(Note that the multiple dates come from my own fork with support for thi

[2016-08-12 16:29] clauderic commented on #43
Hmm. What do you mean by different instances of moment.js? AFAIK they are all one and the same instance, a simple look at the generated output from Webpack can confirm this.

[2016-08-15 07:10] tommedema commented on #43
@clauderic I don't mean that webpack injects the module multiple times into the bundle. That's not the problem.

When I set the locale, the locale is activated by the instance of moment.js inside `index.js` and `List/index.js` etc., but not by the moment instance used at `utils.js`.

Can I provide any more information?

[2016-08-16 12:40] GregoryPotdevin opened #44 "Custom components/renderers as props"
I haven't checked out the code yet, so can't tell if it would be easy or not, but one thing I've done on other components is to be able to pass components or function renderers as props, like `< InfiniteCalendar header={<MyCustomCalendarHeader />} />`. This allows for much more sophisticated theming/customizations, displaying dates differently, having custom "cells" for days, etc.

If others are i

[2016-08-16 20:44] GregoryPotdevin opened #45 "disabledDates could handle functions ?"
`disabledDates` could be enhanced to also take a function rather than just an array.

The change would be pretty simple, something like (untested)
[code]

This would allow passing a function to disable days depending on some random rules, like "first monday of the month".

[2016-08-16 20:50] yingw787 opened #46 "react-infinite-calendar not rendering properly"
Hi, so I'm attempting to render a full-size react-infinite-calendar within a material-ui dialog, and the calendar does not appear to be rendering properly. The default configuration calendar also does not render correctly. I have attached an image of what it looks like.

![screen shot 2016-08-16 at 4 48 24 pm](https://cloud.githubusercontent.com/assets/5166932/17715311/85bb40c0-63d1-11e6-8bb9-6051

[2016-08-16 20:53] clauderic commented on #46
You most likely forgot to import the styles or don't have the appropriate webpack loader. You need to make sure to import the default stylesheet:

[code]

[2016-08-16 20:53] #46 closed

[2016-08-16 21:32] yingw787 commented on #46
Hi clauderic, thanks for the tip; I'm still having some trouble with including the .css file though. I added in `import 'react-infinite-calendar/styles.css';` into the file and I get back a module parse failed error. I'm not sure what's wrong as my webpack css loader looks to match webpack's recommended layout. I also tried `require('react-infinite-calendar/styles.css')` and `require('css!react-in

[2016-08-16 22:04] yingw787 commented on #46
Never mind it works! +1

[2016-08-17 00:38] clauderic commented on #46
I believe you were missing `style-loader`. Glad you got it to work 👍

[2016-08-17 22:30] GregoryPotdevin commented on #44
Did a really quick test just to see, the way the code is organized makes it trivial to pass custom components/renderers as props.

Here are the changes needed to pass a custom Header : https://github.com/GregoryPotdevin/react-infinite-calendar/commit/e2558065c3e1e1c77667d77be8f5b6ff185fc985 (haven't added the tests or anything)

Using a custom header created by cloning the current one :
[code]

![

[2016-08-18 17:13] GregoryPotdevin commented on #34
Something like this works, but it changes the moment onKeyDown is called (it's called at the end of the handler instead of at the beginning). The main change is that in this case onKeyDown isn't called when Enter is pressed (though that could be added back in if needed).

[2016-08-24 09:47] ericluwj commented on #42
@clauderic This is definitely an issue with `react-infinite-calendar`. Please read [https://fb.me/react-warning-dont-call-proptypes](https://fb.me/react-warning-dont-call-proptypes) properly. There are custom propTypes declared within `utils.js` that should be updated.

[2016-08-26 08:07] pinder360 commented on #6
@clauderic any update on this?

[2016-08-27 00:12] clauderic commented on #45
Hey @GregoryPotdevin, that's not a *horrible* idea, though I do wonder if it's a common use-case. If you'd like to submit a PR with updated documentation to cover this, I'd be happy to review it.

[2016-08-27 00:13] clauderic commented on #42
Closing due to inactivity

[2016-08-27 00:13] #42 closed

[2016-08-27 00:18] clauderic commented on #44
Hey @GregoryPotdevin, there have been talks about this in #15, and it's definitely something I'd be interested in working on, but I'm hesitant to do so until I know for sure it wouldn't conflict with other planned features (such as date range selection #33), or at least would like to make sure we find a way to conciliate both of these features.

[2016-09-08 19:46] netpoetica commented on #42
This error is likely to occur for people who are running a hodge-podge of a mix of react-addon* libs that have somewhat incompatible peerDependencies, but then install with npm v3+ where peerDeps are more lenient.

I found that if I just completely removed my node_modules folder and then reinstalled (make sure you don't have some npm shrinkwrap locking your old version in place, too), seemed to fi

[2016-09-09 12:37] netpoetica opened #47 "add examples from clauderic.github.io to repo"
Do you also think it would be very helpful if there was an examples/ dir that contains the examples at http://clauderic.github.io/react-infinite-calendar/#/basic-settings/basic-configuration?_k=g8hyyp

This would allow developers working on this project to be able to run a local comparison side-by-side against expected behaviors from the given examples.

Ideally this would include a simple `npm ru

[2016-09-09 13:51] netpoetica commented on #47
Closing this as it is actually mostly covered already. Running `npm run build && npm start` will start a local server w/ an index you can develop against. I think this is good enough!

This was a case of not reading the package.json properly ;)

[2016-09-09 13:51] #47 closed

[2016-09-09 13:53] clauderic commented on #47
Still, point taken. I might spend some time adding `react-storybook` when I get the chance 👍

[2016-09-13 22:33] netpoetica opened #48 "cannot fork and install this repo"
Hey Clauderic,

Just an FYI - it is not possible to fork this repo and then install your fork via npm without trouble. I have seen [similar problems](https://github.com/mjackson/history/issues/52) before.

Essentially, if it doesn't come from the npm registry, you get this:

[code]
Missing all of the important stuff.

I tried adding `bin/postinstall` like so:

[code]

`chmod 755 bin/postinstall`

[2016-09-13 22:36] clauderic commented on #48
Have you tried removing the `.npmignore` file? Now that I think of it that might be an issue

[2016-09-14 03:55] RifeWang opened #49 "suggest"
I think this calendar will be very nice, if it can select local language and give us a unpkg adress.

[2016-09-14 05:53] #49 closed

[2016-09-14 14:08] netpoetica commented on #48
Removing the .npmignore does bring all of the necessary files in, but not the dist/ dir. `postinstall` still will not be able to create the dist/ directory needed to utilize the fork. After removing .npmignore, `npm install`-ing from a fork looks like this:

[code]

There is no dist/ dir, so a build must occur via `postinstall`. I think this is because when npm installs a package, it doesn't insta

[2016-09-23 19:40] vmaudgalya commented on #13
Any updates on the multi-date picker? Right now I'm "mocking" multiple selected dates using the disabledDates feature with custom styling, but this feature would be a lifesaver

[2016-09-26 13:12] workingDog commented on #13
It would be really great to have the multi-date feature. Eagerly waiting for this.
I'm using Bootstrap for this at the moment.

[2016-09-28 11:28] mach1 opened #51 "react-infinite-calendar still tries to load VirtualScroll from react-virtualized"
Altho I have
`"react-virtualized": "^8.0.11"`
`"react-infinite-calendar": "~1.2.0"`
Installed and
`cat node_modules/react-infinite-calendar/package.json | grep version` > `"version": "1.2.0"`

react-infinite-calendar still tries to load `VirtualScroll` from `react-virtualized` instead of `List` introduced in version 8.

[2016-09-28 13:29] clauderic commented on #51
Hrmm... Where? 🤔

[2016-09-28 13:41] clauderic commented on #51
Nevermind. Build was borked. Just published `1.2.1` to npm. Sorry about that!

[2016-09-28 13:41] #51 closed

[2016-09-28 14:27] mach1 commented on #51
Thanks! 🎉

[2016-09-29 18:37] Nedgeva opened #52 "Bug in latest version - cant fire click events on last week days"
Cannot click on gray date - last week's dates.
Happened to me when i updated from v1.1.18.

[2016-09-29 18:59] ThomsCass commented on #52
same here :

I just update to the last version react-infinite-calendar": "^1.2.1" and I can't select date around the default date

<img width="427" alt="capture d ecran 2016-09-29 a 19 44 35" src="https://cloud.githubusercontent.com/assets/10784312/18968016/9ff4f76e-8687-11e6-8cab-48861e066d27.png">

for example here :

I can't select the 25, 26, 27, 28 and 30 of september all the rest is fine.

w

[2016-09-29 20:26] netpoetica opened #53 "new selectedDate on every render does not center"
When you re-render passing in a different selectedDate each time (where selected date is bound to state of container component), the component will not properly center on the selected date. The behavior can be seen by clicking around on different dates (usually the ones at the top or bottom of the calendar, because these need to be scrolled). This example is loosely based on Flexible Size example:

[2016-09-29 23:17] clauderic commented on #52
Ahhh. Sorry about that, 1.2.0 introduced a number of changes which caused a css rule to be ignored, which resulted in the zIndex glitches you both saw. Just published 1.2.2 to npm with a fix for this.

Thanks for reporting this!

[2016-09-29 23:17] #52 closed

[2016-10-04 12:11] ThomsCass commented on #53
for me the problem occurs when I give a value to the selectedDate property...

[2016-10-09 20:06] j-s-n opened #55 "Error when including the css"
In what circumstances is `import 'react-infinite-calendar/styles.css';` expected to work? I'm using browserify/babelify and I get an "Unexpected Token" error when trying to build - I don't think importing css files in js source files will work without some kind of transform, at least with browserify (and I haven't had any luck with the browserify-css transform). Any suggestions?

[2016-10-10 02:51] clauderic commented on #55
Hey @j-s-n, you need to use the appropriate loader / transformer. In your case, you should simply look into using something like [browserify-css](https://github.com/cheton/browserify-css)

[2016-10-10 02:51] #55 closed

[2016-10-22 04:17] RifeWang opened #56 "how to get the LocaleProcider?"
i want to change the English to Chinese or number like October to 10月 , and the header change to 2016-10-22 . How can i do ?

[2016-10-22 13:44] clauderic commented on #56
You can use the `locale` prop to pass in a custom locale to `react-infinite-calendar`. Behind the scenes, it relies on [Moment.js](momentjs.com) for date parsing, so you can pass in all the params it supports, as well as a few custom ones specific to `react-infinite-calendar` (such as `todayLabel`, `headerFormat` and `blank`).

Here's an example I put together from looking at the [Moment.js locale

[2016-10-22 13:44] #56 closed

[2016-10-22 13:52] RifeWang commented on #56
@clauderic  thank you very much! it's very accurate.

[2016-10-23 10:52] RifeWang opened #57 "have no response sometimes when i click and scroll"
it like a static picture sometimes and have no response when i click and scroll it. i just imported and rendered this component , maybe it's slow? and how to get the value of the onSelect event , i mean that i just wanna the date like 2016-10-23, not Wed Oct 26 2016 00:00:00 GMT+0800.

[2016-10-23 15:06] clauderic commented on #57
Hey @RifeWang, not sure about the performance concerns you're speaking of. Perhaps you could take a video to illustrate?

Regarding the `onSelect` event, it returns a standard [JavaScript Date object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date), which you can then parse yourself back to `YYYY-MM-DD` (here's a [stackoverflow thread](http://stackoverflow.co

[2016-10-23 15:47] RifeWang commented on #57
[issue.zip](https://github.com/clauderic/react-infinite-calendar/files/546436/issue.zip)
@clauderic

[2016-10-23 15:52] RifeWang commented on #57
my here is too late ,good night, and discuss tomorrow

[2016-10-24 03:23] RifeWang commented on #57
@clauderic i found the reason,it's my css problem,not this component.

[2016-10-24 03:25] RifeWang commented on #57
my css influenced the component's focus

[2016-10-24 03:26] #57 closed

[2016-11-01 12:11] brickyang opened #58 "Server rendering?"
I am building an univers app. I tried to use RIC but it seems that it doesn't work for server rendering? Or maybe I got wrong on something?

[2016-11-13 10:19] twig commented on #44
Damn, that's the only thing I wanted which was missing from this awesome calendar component!

Gonna have to go with https://github.com/react-component/calendar instead.

[2016-11-24 10:59] Stas-Buzunko opened #59 "The beginning and end of a month rendered in a strange way."
Hi, have no idea why it happens, attached a few screenshots.
![image](https://cloud.githubusercontent.com/assets/12331100/20596069/b61c464a-b24d-11e6-8463-0cebddd20988.png)
![image](https://cloud.githubusercontent.com/assets/12331100/20596085/c1cf58c4-b24d-11e6-86a7-558b145d5fe7.png)
![image](https://cloud.githubusercontent.com/assets/12331100/20596102/ce5c73ec-b24d-11e6-8ceb-1649ce5ad83f.png)

St

[2016-11-24 16:45] clauderic commented on #59
Hey @Stas-Buzunko,

Could it be that you have `text-align: center;` somewhere? If you want to center the header, try applying more specific css

[2016-11-26 14:39] Stas-Buzunko commented on #59
Thanks, I will have a look and reply :)

[2016-11-28 11:57] SandroMachado opened #60 "Prop type error every time I select a new day"
The calendar component renders as expected, the problem is every time I select a new day, I get a lot of errors in the console.

My render function:
[code]

Every time I click in a new day I get a lot of errors in the console:

[code]

Any thoughts how to fix this?

[2016-11-29 06:02] Stas-Buzunko commented on #59
Yes! You were right, thank you!

[2016-11-29 06:02] #59 closed

[2016-11-29 08:47] Stas-Buzunko opened #61 "Uncaught TypeError: _selectedDate.isSame is not a function(…)"
Hi!
Config
[code]
Even on outside calendar click, this validation is called. And because selectedDate={false} it produces an error. The question is why componentsWillReceiveProps is called on outside click
![image](https://cloud.githubusercontent.com/assets/12331100/20702509/3333bad0-b629-11e6-801c-2926bc06f4e9.png)

[2016-11-29 08:49] Stas-Buzunko commented on #61
Clicks on dates work properly

[2016-11-29 15:33] davidpelayo commented on #13
Totally agree. We need this. I will try to do a PR soon.

[2016-11-29 15:38] davidpelayo opened #62 "Snapping while scrolling"
I think it would be useful to have an option that snaps the previous/following month when you have already started to scroll/swipe. This way you can go swiping just a bit to go till the surrounding months you have on your current view window.

It would be a props you pass to the `InfiniteCalendar` component when initialising it.

[2016-11-29 15:48] jpollard-cs commented on #62
I think this should be pretty simple to do by using the `scrollToAlignment` prop of the react-virtualized `List`

[2016-11-30 04:33] clauderic commented on #62
Hey @davidpelayo,

I thought about implementing this out of the box when I originally released react-infinite-calendar, though it proved somewhat difficult to implement, as ideally you want the snapping to be animated, and interrupting scroll momentum on iOS is tricky.

Since it may not always be the behaviour you want, so I do believe this would definitely be opt-in. While I don't exclude the pos

[2016-11-30 12:53] jpollard-cs commented on #62
@clauderic yeah just ran a quick test - you're correct.

@davidpelayo I'm a bit confused if the desired behavior you're asking for is to be able to swipe from one calendar month to the next or if it's simply to snap to the next month on swipe or if it's to wait until scrolling is finished and then snap to the first currently visible month?

[2016-12-01 03:37] abury opened #63 "Bug: Uncaught TypeError: Cannot read property 'isSame' of null"
Hey @clauderic

First of all, thanks so much for a great component. It's amazing. Not sure if this is a bug or intended but I get the following exception when rendering react-infinite-calendar with  a minimum date and null selectedDate I get the following error:

``TypeError: Cannot read property 'isSame' of null``

I've created a fork at: https://jsfiddle.net/abury/o80kxzha/

It's referring to [l

[2016-12-01 07:38] davidpelayo commented on #62
@jpollard-cs if you focus on the user interaction with the touch device, it's almost a natural movement to start swapping a bit and gets quickly to the "next" slide (section or set of data, as you desire).

To me, it makes sense to go snapping per month as you start swiping (vertically, in this case). Of course this should be opt-in as I may decide to deactivate this behaviour.

[2016-12-01 17:06] clauderic commented on #63
Hey @abury, thanks for the detailed report ❤️

I tried replicating the issue you speak of, but to no avail. https://jsfiddle.net/o80kxzha/1/

I think perhaps you sent the link to the wrong fiddle? 😅

Either way, this is most certainly not intended behaviour, so absolutely a PR would be most welcome!

[2016-12-01 17:08] clauderic commented on #61
Hey @Stas-Buzunko, thanks for reporting this.

I believe this is related to #63, though just to be sure, would you be able to put together a jsfiddle to replicate this issue? You can fork this fiddle as a starting point: https://jsfiddle.net/clauderic/4rhn03do/

[2016-12-01 17:11] clauderic commented on #62
Just to be clear, the behaviour I had in mind was to let the user scroll freely, and have the calendar snap into place once user interaction has ended (i.e., the idea wouldn't be to have this function as a slider)

[2016-12-01 17:14] clauderic commented on #60
Hmm, which version of react / react-addons-css-transition-group do you have installed locally?

[2016-12-01 17:16] clauderic commented on #58
Hey @brickyang, I haven't had to use this project in an SSR environment. Would you be interested in contributing a PR that implements this?

[2016-12-01 17:19] clauderic commented on #12
I'm going to close this out for the time being. If you feel like contributing to this, jump over to https://github.com/clauderic/react-native-infinite-calendar and we can discuss there.

[2016-12-01 17:19] #12 closed

[2016-12-01 20:33] offsky opened #64 "Double Clicking Date"
It would be nice if double clicking a date in the calendar could tell the container app, so that it can potentially do something different.  See forthcoming pull request.

[2016-12-01 20:45] abury commented on #63
@clauderic hmm, it doesn't seem to be happening for me in the fiddle either (I'm new to the JS world so still learning how these things work, does JSFiddle show errors in a console anywhere?)

It's definitely occurring consistently in my project, I might spend some more time trying to look into it today. 👍

[2016-12-02 01:36] SandroMachado commented on #60
Sure:

`react` - **15.3.2**
`react-addons-css-transition-group` - **15.4.1**

Thanks for the reply.

[2016-12-05 07:54] brickyang commented on #58
I would like to try, but I can't make any promise. Because I haven't tried PR a project before. Not sure if I can do it right. Anyway, I will try my best.

[2016-12-09 18:07] Flamenco commented on #60
I get this too.  The headerShouldAnimate property is the click event instead of the boolean value.

[2016-12-09 18:16] Flamenco commented on #60
`_this.onDaySelect = function (selectedDate, e) {
			var shouldHeaderAnimate = arguments.length <= 2 || arguments[2] === undefined ? _this.props.shouldHeaderAnimate : arguments[2];`

The problem is arguments size is 3. [Moment, Proxy, Event].

[2016-12-09 18:40] Flamenco commented on #60
In index.js I changed

`var shouldHeaderAnimate = arguments.length <= 3 || arguments[3] === undefined ? _this.props.shouldHeaderAnimate : arguments[3];`

I'm not really sure where the piggy-backed expected value would be coming from though.

[2016-12-12 11:44] SandroMachado commented on #60
@Flamenco yup, it works. Changing from `2` to `3` removes the errors. 👍

@clauderic Do you have any hints why the distribution files are getting generated with `2` instead of `3`?

[2016-12-12 18:24] Flamenco commented on #60
That's the babel transpiler for an ES6 default option.  The 'proxy' is not expected in the function call.  The function is expecting [Moment, Event, shouldHeaderAnimate {optional} ].

So the '2' is correct. Something is generating an extra, unexpected argument.

[2016-12-12 18:50] Flamenco commented on #60
<img width="677" alt="screen shot 2016-12-12 at 1 50 23 pm" src="https://cloud.githubusercontent.com/assets/819940/21112014/fd7ffb76-c071-11e6-93e4-a6e442de9ed3.png">

[2016-12-20 02:00] bradennapier commented on #7
+1

[2017-01-06 11:24] syko opened #66 "[Firefox] Vulnerable to DST changes"
Basically `moment(...).range('year').toArray('months')` is giving us 13 months here: https://github.com/clauderic/react-infinite-calendar/blob/master/src/utils.js#L34

This is because there is a DST change at midnight and behind the scenes momentjs is just adding hours to get the next date but is failing miserably.

This is not a problem with this calendar per se but an issue with the javascript's

[2017-01-11 16:12] offsky opened #67 "[Firefox] cannot display SVG chevron on "today" bar when theme color is hex value"
![screen shot 2017-01-11 at 8 09 52 am](https://cloud.githubusercontent.com/assets/1110926/21856083/82ff89f4-d7d5-11e6-97d3-82e0ca6316e6.png)

[2017-01-11 16:34] clauderic commented on #67
Hey @offsky, thanks for flagging this! I believe it's because Firefox doesn't support using `data:image/svg` in an image src. Should be a fairly simple fix, just need to inline the svg instead.

Would you care to submit a PR? If not, I should get around to it within the next couple of days

[2017-01-11 16:56] offsky commented on #67
I dug into it. It does seem that Firefox is buggy.  If you replace the fill parameter of the inline svg with "red" then it works. "rgb(255,0,0)" also works.  As soon as you change it to a hex value like "#ff0000" it fails.  So maybe the # character is buggy in inline svgs on firefox? Not sure.

I worked around the bug by specifying my theme color for the chevron as rgb() instead of hex. If you wan

[2017-01-11 16:58] clauderic commented on #67
No worries man, thanks for looking into it and sharing your findings

[2017-01-11 18:01] offsky opened #68 "Improving performance of initial render"
I am looking into improving performance of the initial render, especially on mobile browsers.  In my initial investigation, I noticed that when the calendar loads, it initially draws the entire calendar from 1980 and then immediately redraws the entire thing with the proper dates. This is an easy 2x perf boost if we can avoid this.

I am happy to take a stab at this, but I would like some advice o

[2017-01-11 18:09] clauderic commented on #68
Hey @offsky, I actually have a (private) fork of this that focuses heavily on perf gains by replacing `Moment.js` with `date-fns` and implements a lot of the perf improvements you mentioned to improve initial render.

It's not quite ready for prime-time yet, but I'd be happy to share the implementation with you to get some of your feedback.

[2017-01-11 18:10] offsky commented on #68
yes, please

[2017-01-18 20:45] xtalx commented on #60
I get this as well (the same 5 errors listed by the OP).
react-addons-css-transition-group@15.4.2
react-dom@15.4.2
react-infinite-calendar@1.2.2

I noticed that the errors are only generated the **first** time the the InfiniteCalendar component is mounted.

[2017-01-19 07:11] thisconnect commented on #68
Looking forward to `react-infinite-calendar` using `date-fns`

[2017-01-24 07:38] Youmoo commented on #68
+1. Looking forward to `react-infinite-calendar` using `date-fns` , too.

[2017-01-25 00:53] larafale commented on #7
+1

[2017-02-02 16:51] embengineering commented on #60
+1 I've experience the same, only after the component is mounted.  Then it works as expected.

[2017-02-06 02:51] chadoh commented on #68
Totes, initial render time on mobile makes this thing unusable for me right now. And I'd love to not have to import Moment! Didn't know about `date-fns`, but 💯

Can I help make this happen somehow? I love the promise of `react-infinite-calendar`, but can't use it until this gets straightened out.

[2017-02-08 14:26] RepositoryNY opened #69 "Can't install calendar"
When I'm executing `npm i react-infinite-calendar --save`, it writes:

[code]

The problem with this dependencies, I can't use the calendar without them, installing them separately have no effect at all.
How can I properly install the calendar?

[2017-02-09 00:55] traumatic commented on #69
I can confirm that.

[2017-02-09 02:44] clauderic commented on #69
Which version of React do you have installed?

[2017-02-09 02:50] traumatic commented on #69
15.4.2

[2017-02-09 07:00] sbaha88 opened #70 "[Feature] Add color to a range of dates"
Hi,

Would it be possible to add a feature that would add colors (like selected date) to dates given in an array? (I am working on an app where I would like to show dates where an event has occured or hasn't).

ps, your calendar is really awesome:)

[2017-02-09 09:33] RepositoryNY commented on #69
15.3.2

[2017-02-09 20:17] leafi commented on #60
Hi, please see https://github.com/toggl/react-infinite-calendar/commit/fd1740ca0d8a9bd871e0b10ca6e58f2ec020a1e0 for one possible fix and a little extra commentary.

In effect, one of the things React does related to the creation of synthetic events is it passes more than one parameter to e.g. the onClick event handler.

While the 'second' argument was often undefined in one specific version of Rea

[2017-02-16 00:30] arackaf opened #71 "build problem"
After a fresh clone, `npm install`, `npm build` throws this error.

On both Windows 10, and also Mac.

Are there any global npm installs I should have?

node_modules\nan
resolve failed:  { [Error: Cannot find module 'caniuse-db'] code: 'MODULE_NOT_FOUND' } caniuse-db
resolve failed:  { [Error: Cannot find module 'babel-runtime'] code: 'MODULE_NOT_FOUND' } babel-runtime
resolve failed:  { [Error: C

[2017-02-16 03:53] clauderic commented on #71
Hey @arackaf,

Sorry about that. I'm actually currently working on version 2.0, which should solve all of these issues.

Version 2.0 also removes of `Moment.js` in favor of `date-fns` and also has a lot of other performance improvements, especially in terms of initial render. I'll post more details soon.

In the meantime though, if you'd like to give it a spin, check out https://github.com/clauder

[2017-02-16 05:04] arackaf commented on #71
@clauderic - awesome, thanks so much.  I'm curious - does the version-2 support multiple date selection?  Truth be told, that's the main thing we're looking for - we wound up finding a fork of your original one that added that, which is how we found out about the broken build :)   (is broken both in the fork and original - don't worry, I didn't open a case for a problem in a fork)

[2017-02-17 17:14] ksmitx opened #72 "Uncaught TypeError: Cannot set property 'DateRange' of undefined"
Any time I try importing the calendar in a react project, I get the following error in the console:

`Uncaught TypeError: Cannot set property 'DateRange' of undefined`

It seems to be caused by an old (pre-3.0.0) version of moment-range included in the project.  The issue was fixed in newer versions of moment-range, (see: https://github.com/gf3/moment-range/issues/101) but even if I have this newe

[2017-02-19 04:04] clauderic commented on #71
@arackaf multiple date selection won't be supported out of the box when 2.0 comes out, but it is something I plan on working on in the near future. If you're planning on forking the original and working on that, I strongly advise you wait until version 2.0 is released (should be a matter of days at this point!)

If you'd like to test it out, run `npm install react-infinite-calendar@next` locally.

[2017-02-19 04:08] clauderic commented on #69
Hey guys, sorry for the delay. These issues should all be addressed with the upcoming version 2.0 release, which should be happening within the next couple of days.

If you'd like to test it out ahead of it's release, run `npm install react-infinite-calendar@next`

[2017-02-19 04:12] clauderic commented on #68
Hey guys, just wanted to let you know that the release of version 2.0 is just around the corner. Version 2.0 focuses on initial render performance and drops Moment.js in favor of `date-fns`.

If you'd like to test it out ahead of its release, run `npm install react-infinite-calendar@next` locally. Would love some feedback!

For more details, refer to #73

[2017-02-19 04:13] clauderic commented on #72
Hey @ksmitx,

Sorry about that. This will be addressed in the release of version 2.0, which should happen within the next couple of days.

If you'd like to test it out ahead of its release, you can run `npm install react-infinite-calendar@next` locally.

For more details, refer to #73

[2017-02-19 15:27] ksmitx commented on #72
Great!  Good to know.  Thanks @clauderic!

[2017-02-20 21:20] dpratt71 commented on #71
@clauderic I work with @arackaf and his questions have actually been on my behalf. I've extended v1 of your excellent component to support a kind of multi-date selection. What I have actually done is defined a `MarkedDates` property on the component that is implemented in a very similar fashion to the existing `DisabledDates` property.

I've cloned the `version-2` branch of the component in the ho

[2017-02-20 21:53] clauderic commented on #71
Hey @dpratt71, regarding the umd configuration not also treating other peerDependencies as externals, that's simply an oversight on my part 😅

I'm actually currently working on integrating version 2 with [recompose](https://github.com/acdlite/recompose), which should make it fairly simple to add opt-in layers of functionality like date-range selection and multiple selected dates by enhancing the o

[2017-02-21 02:20] clauderic commented on #71
Out of curiosity, how are you rendering the header in your fork? Or did you choose to not display the header?

I'm trying to find a way to elegantly display the multiple date selection in the header

[2017-02-21 13:38] RepositoryNY commented on #69
Still have ` +-- UNMET PEER DEPENDENCY react-addons-css-transition-group@^0.14.0 || ^15.0.0`, with `npm install react-infinite-calendar@next`

[2017-02-21 14:49] clauderic commented on #69
That means you probably have a version of `react-addons-css-transition-group` installed locally that's older than 15.4.2.

`react-addons-css-transition-group` is a peerDependency, meaning it's left to the end-user to manage the version they have installed locally. This is done to avoid version conflicts that can arise by having divergent/incompatible versions of `react`, `react-dom` and `react-add

[2017-02-21 14:49] #69 closed

[2017-02-21 18:07] dpratt71 commented on #71
@clauderic [my changes](https://github.com/clauderic/react-infinite-calendar/compare/version-2...dpratt71:version-2) leave `selectedDate` and its behavior/appearance intact. I thought I wanted full-on multi-select at first, but then I realized that I just needed to show the user which days they had previously selected. Hence the `markedDates` property.

[2017-02-22 00:43] clauderic commented on #13
FYI, I'm currently working on this on #73 and this will ship with version 2.0

[2017-02-22 02:09] lakshmantgld commented on #13
@clauderic Suresh has already implemmented this and we are using it in our production app. Give it a look: https://github.com/sureshmurali/react-infinite-calendar

This is how it looks in desktop:
![screen shot 2017-02-22 at 11 07 07](https://cloud.githubusercontent.com/assets/6481030/23194011/10f4c9d8-f8ef-11e6-9223-b2e29399be2a.png)

This is how it looks in mobile:
![comingornot com- iphone 6](h

[2017-02-22 20:28] afreeland opened #74 "Altering weekday color dynamically"
Was looking through the documentation for [Dynamic Color Selection](http://clauderic.github.io/react-infinite-calendar/#/customization/dynamic-selection-color?_k=8j9dar) and was curious how to change weekday colors.

This works as desired for the 'selected date'
[code]

I have a requirement to illustrate certain days that are missing entries. I started to poke around and noticed the [theme.js](htt

[2017-02-22 20:36] afreeland commented on #74
Just found out `weekdayColor` is the 'Sun-Sat' header row background color...looks like that wouldnt do me any good.  The functionality to dynamically color a particular date  looks like a it may be a new feature...or I just haven't found it yet.

[2017-02-22 20:44] afreeland commented on #74
Looking into the [Days](https://github.com/clauderic/react-infinite-calendar/blob/master/src/Day/index.js) file it appears the markup is different for the selectedDay to give it the nice circular shape and when it applies the color.

Will look into forking and adding this feature...really enjoy the work on this datepicker component =)

[2017-02-22 20:54] afreeland commented on #74
For performance, it would probably make sense to avoid altering/adding any more structure than necessary.  Was kind of thinking about adding a 'highlight' option, where a dev passes in an array of objects that define a highlight color and date, (perhaps range too)...and only add the extra div structure for those dates.

Just throwing some thoughts out there...

[2017-02-23 02:13] clauderic commented on #13
That looks great @lakshmantgld! And thanks for the kind words, it's always awesome to hear what people have been doing with react-infinite-calendar 😄

Version 2.0 is going to make it a lot easier to add functionality like multiple date selection, date ranges, displaying events, etc. without the need for creating your own fork. I'll also be providing some defaults out of the box for some of these.

[2017-02-23 15:18] afreeland commented on #74
Just seen there is a [pull request](https://github.com/clauderic/react-infinite-calendar/pull/73) from repo owner which appears to be attempting to tackle this feature =)

[2017-02-23 15:18] #74 closed

[2017-02-25 03:13] clauderic commented on #4
Hey all, just published `react-infinite-calendar` Version 2.0, which comes with date-range selection out of the box  🎉

Check out the updated demo site to play with it: http://clauderic.github.io/react-infinite-calendar/#/enhance-default-functionality/range-selection

*Disclaimer: It's still experimental and there are a few bugs to iron out on mobile, but PRs are welcome to make it better!*

Here'

[2017-02-25 03:13] #4 closed

[2017-02-25 03:15] clauderic commented on #72
FYI, I just shipped version `2.0.0`, which removes the dependency on `moment` and `moment-range` in favor of `date-fns`, so will no longer be an issue moving forward.

Cheers!

[2017-02-25 03:15] #72 closed

[2017-02-25 03:18] clauderic commented on #71
FYI, I just published version `2.0.0`, which should fix the build issues you were facing and comes with multiple date selection out of the box. Here's what it looks like:

<img width="438" alt="screen shot 2017-02-24 at 10 15 55 pm" src="https://cloud.githubusercontent.com/assets/1416436/23327715/14e846ea-fadf-11e6-8e62-2d317711751f.png">

It's still experimental at this point, but if you're curio

[2017-02-25 03:18] #71 closed

[2017-02-25 03:20] clauderic commented on #67
Fixed in `2.0.0`, decided to use inline-svg instead https://github.com/clauderic/react-infinite-calendar/blob/master/src/Today/index.js#L47

[2017-02-25 03:20] #67 closed

[2017-02-25 03:20] arackaf commented on #71
@clauderic 4 days ago

@clauderic 30 seconds ago

Do you guys talk to each other???  :P

No but seriously, thank you SO much for all your hard work - you produce amazing things for the OSS community.

[2017-02-25 03:22] clauderic commented on #71
Hahaha, I changed my mind when I found out about [recompose](https://github.com/acdlite/recompose) 😅

Thanks for the kind words buddy, means alot ❤️

[2017-02-25 03:25] clauderic commented on #68
FYI, Just shipped version `2.0.0` with `date-fns`, and lot's of other cool stuff. You should see much faster initial render performance with this version, though I'm sure there are still perf improvements to be made.

PRs are welcome if you find anything that can be improved!

[2017-02-25 03:25] #68 closed

[2017-02-25 03:28] clauderic commented on #53
Just shipped version `2.0.0`, and it should now properly re-centers to the new selected prop when it changes 👍

Check out #73 for more details

[2017-02-25 03:28] #53 closed

[2017-02-25 03:30] clauderic commented on #60
Hey guys, just shipped version `2.0.0`, which comes with loads of new features and should also fix this issue. Give it a try and let me know if you run into any issues!

Check out #73 for more details 😄

[2017-02-25 03:30] #60 closed

[2017-02-25 03:34] clauderic commented on #44
Hey guys, just shipped version `2.0.0`, which comes with the ability to enhance or replace the built-in components.

You can now pass a custom `DayComponent`, `HeaderComponent`, and `YearsComponent` prop.

Check out #73 for more details.

If you'd like to get a better sense of what that looks like in practice, check out https://github.com/clauderic/react-infinite-calendar/blob/master/src/Calendar/

[2017-02-25 03:34] #44 closed

[2017-02-25 03:36] clauderic commented on #63
Hey @abury, FYI, I just shipped version `2.0.0`, which replaces `moment.js` in favor of `date-fns`. This should no longer be an issue, though let me know if you run into any other issues

[2017-02-25 03:36] #63 closed

[2017-02-25 03:37] clauderic commented on #43
Hey @tommedema, just shipped version `2.0.0`, which replaces `moment.js` with `date-fns`. This should no longer be an issue.

Let me know if you run into any other issues with version 2.0

[2017-02-25 03:37] #43 closed

[2017-02-25 03:38] clauderic commented on #61
Hey Stas-Buzunko, FYI, I just shipped version 2.0.0, which replaces moment.js in favor of date-fns. This should no longer be an issue, though let me know if you run into any other issues

[2017-02-25 03:38] #61 closed

[2017-02-25 03:40] clauderic commented on #66
Hey @syko, just shipped version `2.0.0`, which replaces `moment.js` and `moment-range` in favor of `date-fns`. This should no longer be an issue forward, though let me know if you're still seeing this issue.

[2017-02-25 03:40] #66 closed

[2017-02-25 03:50] clauderic commented on #13
Hey guys! Progress update: I just published `react-infinite-calendar` Version 2.0, which comes with multiple date selection out of the box  🎉

Check out the updated demo site to play with it: http://clauderic.github.io/react-infinite-calendar/#/enhance-default-functionality/multiple-date-selection

*Disclaimer: It's still experimental, but PRs are welcome to make it better!*

Here's the final look

[2017-02-25 03:50] #13 closed

[2017-02-25 07:23] bvaughn commented on #4
That UI looks super slick!

[2017-02-25 07:23] capaj commented on #4
@clauderic this is awesome. Much better for selecting short ranges than two separate inputs. Love it! I'll try to put this into production at our current company. Our datepickers suck and need a rewrite/replacement anyway!

[2017-02-26 18:43] Shaxmatist opened #75 "Minimum month to render not working properly"
This can be seen in the example http://clauderic.github.io/react-infinite-calendar/#/basic-settings/min-date.

Min month is Feb, but Jan still being rendered.

[2017-02-27 05:51] clauderic commented on #75
You're absolutely right! Sorry about that, was an oversight on my part when refactoring 😅 Fixed in `2.1.0`!

[2017-02-27 05:51] #75 closed

[2017-02-27 17:40] offsky opened #76 "Problems Compiling 2.1"
I am really excited about the 2.x branch. I was going to play around with it today, but I'm having difficulty getting it to compile.  I am new to nwb, so this may be a simple thing, but here is what I see.

1) Clone fresh copy of version 2.1.1
2) Run npm install
3) Run npm start

[code]

And it hangs there. Any suggestions?

[2017-02-27 18:50] offsky opened #77 "onSelect callback when using withRange() should pass an EventType"
Currently, when you are selecting a range of dates using the withRange() HOC, the onSelect callback gets called every time the range changes.  When the user clicks the second time to fix the range, the onSelect callback gets called again. There is not currently a way to differentiate between the start click, the end click and all the middle mouse movements.  This is important information that the

[2017-02-27 19:34] clauderic commented on #76
Try installing with yarn instead, I've found it's a lot more reliable and ensures consistent installs across machines. There's a `yarn.lock` file in the project that stores exactly which versions of each dependency were installed. Should work like a charm, let me know if not.

[2017-02-27 19:35] clauderic commented on #76
You may also need to install [nwb](https://github.com/insin/nwb) globally: `npm install -g nwb`

[2017-02-27 20:04] clauderic commented on #77
That's a really good point @offsky!

I think the best approach would be to add an `eventType` property that could be one of `EVENT_TYPE.HOVER || EVENT_TYPE.CLICK` so the end-user can decide how to handle that event.

The default exported [InfiniteCalendar](https://github.com/clauderic/react-infinite-calendar/blob/master/src/index.js#L15) component is uncontrolled (meaning it manages it's own inter

[2017-02-27 20:49] offsky commented on #77
Yes, I agree with your approach. Its probably faster for you to do this, but once I get up to speed on the new codebase, and get some time, if this isn't done yet, I'll take a crack at it.

[2017-02-27 21:31] offsky commented on #76
Thanks! Yarn fixed the problem. Its probably worth figuring out why `npm install` causes a broken installation, or at least add yarn to your installation instructions for contributors.

[2017-02-27 21:36] offsky commented on #24
I think there was a regression on this with the new 2.1.1 branch.  When I scroll backwards in time, the today helper shows up when I have scrolled 2 weeks away.  When I scroll forwards in time, you have to go 6 weeks before it appears.

[2017-02-27 22:02] offsky commented on #77
Ok, this was actually pretty easy.  PR coming tomorrow.

[2017-02-28 00:02] offsky commented on #77
Any obvious changes that you want: https://github.com/Toodledo/react-infinite-calendar/commit/0eafb3e89fb78650760c3cd00c5d127044a656a1

[2017-02-28 00:02] clauderic commented on #76
Definitely, I'll look into it

[2017-02-28 00:02] #76 closed

[2017-02-28 00:07] clauderic commented on #77
Looks great! Only thing I'd change is I'd put the eventTypes within the same file and make sure they're exported (so that end-users can use them for comparisons). Also, I tend to always use all caps for constants (EVENT_TYPES vs eventTypes)

Oh, last nitpick, you could do something like this to add the eventType:
[code]

[2017-02-28 21:11] offsky opened #80 "Improve render performance"
Ive noticed two cases where render performance could be improved.

1) When the calendar loads, it initially draws the entire calendar from 1980 and then immediately redraws the entire thing with the proper dates. This is an easy 2x perf boost if we can avoid this.

2) When you are using the withRange() HOC, the entire calendar re-renders on every mouse movement. It should be possible to only updat

[2017-03-01 03:18] clauderic commented on #80
Regarding your first point, that was an issue related to [react-tiny-virtual-list](https://github.com/clauderic/react-tiny-virtual-list). Just pushed 2.1.3 which should address this.

Regarding the second point, all components use PureComponent and will only update if their props change.

[2017-03-01 03:20] #77 closed

[2017-03-01 03:30] oyeanuj commented on #6
@marek-sed @clauderic Also, curious if this is on any one of your radar still?

[2017-03-01 03:36] clauderic commented on #6
This would be fairly simple to implement with the new architecture of `react-infinite-calendar@^2.0.0`.

This isn't something I have bandwidth to work on at the moment, but if you take a look at the implementation of the `withMultipleDates` HOC: https://github.com/clauderic/react-infinite-calendar/blob/master/src/Calendar/withMultipleDates.js.

I think the implementation for displaying events woul

[2017-03-01 04:43] offsky commented on #80
For item 2, I put a console.log inside the render method of day/index.js and on every mouse movement it spewed out a hundred messages. Maybe you could try this and see if it does the same for you. Ill double check tomorrow.

[2017-03-01 04:52] offsky commented on #64
The previous pull request no longer works with the 2.x release so I canceled it. I no longer need this functionality and on reflection I dont think double click is a good feature since it will have trouble on touch devices and will conflict with withRange and selectMultiple.  Please feel free to close this issue if you agree.

[2017-03-01 04:52] #64 closed

[2017-03-01 05:07] offsky commented on #6
I would be happy to take a stab at this, but Im new to recompose, so I could use a little help coming up to speed.  Can someone please explain what this line does from the above mentioned file?

`withProps(({displayDate, onSelect, setDisplayDate, scrollToDate, ...props}) => ({`

I think I understand that it is doing something magical to inject props into the secret wrapper container around Calenda

[2017-03-01 05:17] clauderic commented on #80
Ah, it could be an issue specific to range selection, since the selected state for range selection is an object

[2017-03-01 19:05] offsky opened #81 "Year label is on the wrong month"
From the demo:
![screen shot 2017-03-01 at 11 03 34 am](https://cloud.githubusercontent.com/assets/1110926/23476187/d1e2d0ca-fe6e-11e6-893f-632366b85043.png)

I believe that instead of 2016 on Dec, it should have 2017 on Jan. Or maybe both?

[2017-03-01 19:51] clauderic commented on #81
That was a conscious UX decision on my part, but I can see how you might want to override that default.

 I'd be happy to accept a PR for this, though I think the same setting should probably also apply to the month overlay that's displayed as you scroll.

[2017-03-03 21:29] offsky commented on #80
I can confirm that this performance problem exists only when doing a range selection and only when a selection is in progress.

[2017-03-05 14:15] MrSauceman opened #83 "Range selection misaligned when crossing months in Chrome"
The background of the selection range is misaligned when crossing through two months in Chrome.  See attached image.

![calendar](https://cloud.githubusercontent.com/assets/18271688/23587975/dc3d06e0-0183-11e7-97e6-6c6c67346fa9.png)

I was able to fix this by removing `top: 1px;` (line 20) and `margin-top: -1px;` (line 22) from Month.scss under the `row:first-child li` selector.  I tested this in

[2017-03-05 14:49] mvayngrib commented on #72
for those who want to use 1.x.x for whatever reason (in my case I'm not ready to upgrade to react 15.4), you can use webpack's imports-loader plugin to disable moment-range's AMD build:

[code]

[2017-03-06 00:55] clauderic commented on #83
Good catch! Fixed in `2.1.5`, thanks for reporting this 😄

[2017-03-06 00:55] #83 closed

[2017-03-06 11:58] JonesXavi commented on #77
@clauderic
Hi
It would be great if you could help out with onSelect in RangeSelection. I'm not sure how to use your above suggested way.
I'm trying to do something like this :
        `<InfiniteCalendar width={400} height={300} Component={withRange(Calendar)}
	selected={{ start: new Date(), end: new Date() }} />`

[2017-03-06 15:53] offsky commented on #77
That looks good to me. You're just missing the onSelect prop.
[code]

[2017-03-07 19:18] MrSauceman opened #84 "Clicking year in range calendar not working"
Getting `Cannot read property 'getFullYear' of null` when clicking on either the start year or end year of the range calendar.

[2017-03-07 19:27] MrSauceman opened #85 "Range calendar date incorrect when no date is selected"
The range calendar shows `1969 Wed, Dec 31st` when no date is selected, instead of `Select a date...` like the regular calendar. Setting `selected={{ start: null, end: null }}` should reproduce this.

[2017-03-08 09:06] lap123 commented on #80
I think the problem is in withRange.js:60
The functions onClick and onMouseOver are allocated on every component update, therefore triggering a re-render.

[2017-03-08 18:18] offsky opened #86 "Could handle Invalid date inputs better"
I experimented with passing invalid dates to InfiniteCalendar and found the following issues that we could improve upon

`min={new Date("foo")}` or `max={new Date("foo")}`
In either of theses cases, the calendar is rendered totally blank.

`selected={new Date("foo")}`
The calendar renders, but when you try to scroll or select a date, it crashes with an "Invalid offset NaN specified" error in the c

[2017-03-08 19:23] offsky commented on #86
I stated this: https://github.com/Toodledo/react-infinite-calendar/commit/f2acae1636bb4293a1304a2ca3f1a67c35180f4a

Got it fixed for min/max, but not sure how to properly sanitize "selected" prop.

[2017-03-10 02:03] clauderic commented on #86
Hey @offsky,

The sanitization logic for the selected prop is here: https://github.com/clauderic/react-infinite-calendar/blob/master/src/utils/index.js#L135

I think it should probably to default to selected={null} if the input is invalid

[2017-03-10 20:54] offsky opened #87 "Keyboard support for page up/down and home/end"
It would be nice if we could use page up or page down to scroll a month at a time or a page at a time.

Also, home/end could be useful to jump to the top or bottom of the virtual scroll list.

[2017-03-16 21:58] kevinrademan commented on #7
+1

[2017-03-17 17:49] offsky opened #89 "Line appears in calendar when at non default zoom levels"
If the user has vision problems or a preference for different sized text, and has used the browser's built in zoom feature, the css of the calendar can get slightly broken. I see a little line appearing in the top row of each month.

![screen shot 2017-03-17 at 10 46 31 am](https://cloud.githubusercontent.com/assets/1110926/24055943/49dc431c-0aff-11e7-83fd-6fae37ecd262.png)

[2017-03-17 18:40] offsky commented on #89
I added a white bottom border to those cells in my custom css and it seemed to fix it.

[2017-03-25 10:49] EwaMakowska opened #91 "onSelect problem : Uncaught ReferenceError: format is not defined"
This calendar is wonderful. Unfortunately I've one problem. I have to use it as date picker, but I can't set of format of picking date. I've error "format is not defined". I use it with polish date-fns, maybe ther is problem?

[2017-03-27 06:28] jiezhou0731 opened #92 "Change parent's state to selected dates"
[code]

It doesn't change the parent's state.

[2017-03-27 13:57] clauderic commented on #92
You need to pass an `onSelect` prop and mutate your state accordingly. `onSelect` returns the newly selected date, so it's up to you to decide how to handle that event.

If you want your state to live in your parent component though, you should probably use the controlled `Calendar` component instead though, to avoid duplication of state.

[code]

Check out the implementation of `defaultMultipleDa

[2017-03-27 13:57] #92 closed

[2017-03-27 13:59] clauderic commented on #91
Can you put together a repro case or share some code?

[2017-03-27 23:31] LulzAugusto opened #93 "headerFormat doesn't work with range calendar"
Passing, for example, a `locale={{ headerFormat: 'MMMM YYYY' }}` doesn't affect the header of a range calendar.

[2017-03-27 23:37] jiezhou0731 opened #94 "The calendar is blank before it is scrolled"
The code below works well, except a small bug.

The initial value of this.state.selectedDates is set to [Date.now()]. The calendar is blank before you scroll the calendar. If you scroll, the calendar appears, but you need to scroll from year 1980.

If you click the date in the calendar header, the calendar can auto scroll to today. How can I trigger this event when the component is mounted, please

[2017-03-27 23:40] clauderic commented on #94
You need to pass in a valid date object. `Date.now()` returns an integer. Try with `[new Date()]` as your initial selected date.

[2017-03-27 23:40] #94 closed

[2017-03-27 23:53] jiezhou0731 commented on #94
Already tried [new Date()]. It is the exact same issue..

[2017-03-28 00:04] clauderic commented on #94
I'm unable to reproduce what you're describing. Are you animating the display property of the Calendar and are you sure it has a height initially? If the header is properly displaying the selected date, I could be wrong, but this sounds like more of an implementation an issue on your end where the Calendar is trying to scrollTo the selected date but can't because it doesn't have a height or is set

[2017-03-28 03:06] jiezhou0731 commented on #94
Yes, sir. It is because I set display to "none" at the beginning.  Thanks a lot!

[2017-03-28 03:13] jiezhou0731 opened #96 "Header slider error in multiple date selection"
When you select multiple dates and click left and right in the header, it throws error message.

The error happens in my project and in the demo (http://clauderic.github.io/react-infinite-calendar/#/enhance-default-functionality/multiple-date-selection?_k=wa3d6u) .

The error message is

bundle.js: 1 Uncaught Error: Minified React error #122; visit http://facebook.github.io/react/docs/error-decode

[2017-03-30 06:51] lucasaid opened #97 "Months are overlapping"
From the demo:
![image](https://cloud.githubusercontent.com/assets/1774266/24491017/046080f6-1571-11e7-8148-b8ccbba62a08.png)

The last week of July 2017 and first week of August 2017 are overlapping.

[2017-03-30 23:51] leian-ivey commented on #58
I had the same issue earlier and created the PR - https://github.com/clauderic/react-infinite-calendar/pull/98

[2017-04-02 01:03] aidanlister opened #99 "Ability to highlight dates or date ranges"
I need to highlight a window of opportunity, e.g. you can pick any date, but these two weeks are preferred. For my case is tolerance periods for routine maintenance, but it might be discounted or off season rates, etc.

Is there any way to achieve this currently? If not, would you welcome a PR? If so can you point me in the right direction?

Thanks,

[2017-04-02 01:09] clauderic commented on #99
Hey @aidanlister, this isn't something that's built currently, but PRs are certainly welcome if you come up with something that can be useful to others.

As of version `2.0.0`, you can now enhance `react-infinite-calendar` using [recompose](https://github.com/acdlite/recompose). Take a look at the implementation for `withMultipleDates` and `withRange`, they should point you in the right direction

[2017-04-02 01:09] #99 closed

[2017-04-03 22:26] winterblack opened #100 "'appendChild' of null in scrollbarSize.js:18"
I get this error when I run your example code:

[code]

## Steps to reproduce:

1. `npm install babel-core babel-loader babel-preset-es2015 babel-preset-react css-loader react react-addons-css-transition-group react-dom react-infinite-calendar style-loader webpack --save`
2. create `webpack.config.js`
3. create `index.html` with `<div id='root'></div>`
4. `webpack`
5. copy paste example into `entr

[2017-04-05 02:40] clauderic commented on #100
This is the line that's causing an error:
https://github.com/react-bootstrap/dom-helpers/blob/master/src/util/scrollbarSize.js#L16

The only scenario where `document.body` would be undefined is if you're trying to access it before it's declared (i.e., if your script is in the `<head>` of the page).

Either place your script at the end of the `<body>` tag or defer the javascript from being initiali

[2017-04-05 02:40] #100 closed

[2017-04-05 02:42] clauderic commented on #97
Hey @lucasaid, I'm unable to replicate this. Are you seeing this in the live demo, or on your local machine?

Either way, can you share some more details about your browser, computer, timezone, etc?

[2017-04-05 04:48] lucasaid commented on #97
Sorry should have included that stuff, this is both on the live demo and on local

On a Mac Sierra 10.12.3
Chrome 57.0.2987.98
Firefox 52.0
Safari 10.0.3
Android Chrome 57.0.2987.132

Seems to be across all browsers current timezone is UTC/GMT +10 hours Melbourne AEDT

[2017-04-06 11:29] kvolkovich-sc opened #101 "New examples page proposal"
Hi!

![showroom-demo](https://raw.githubusercontent.com/OpusCapitaBES/js-react-showroom-client/93f035a18e6c35de46bfca299a32708ce9e52c1e/docs/demo.gif)

https://github.com/OpusCapitaBES/js-react-showroom-client

It allows to write documentation in markdown and run all docs in sandbox with code examples.
It often useful to have possibility to play with components at web page before use it in project

[2017-04-08 13:41] hasnainshafqatmlt commented on #13
@clauderic cool work 👍
i have once question.
can we disable select unselect on click, and it only select those dates which i put in 'selected' ?

[2017-04-11 21:58] mogarick commented on #7
Any news about this feature request? Is it viable or it's something totally out of consideration for the rest of the year at least?

[2017-04-11 23:26] nickcan commented on #41
@clauderic our team has been using your package in our app for months now. We have some other logic that we have combined with it (time selection, data management, etc). Anyways, we have moved all this logic into our own private package in NPM, including your infinite calendar.

It builds fine, but when we render the component in our app, the same `addComponentAsRefTo` bug pops up in this issue. I

[2017-04-11 23:30] nickcan commented on #41
Also, as part of my investigation, I ended up refactoring our private package to take a calendar prop. Then in our app, I pass `InfiniteCalendar` as the prop. That works. Obviously not ideal or a solution my team and I are going to move forward with, but it helped me realize that including the project "higher up" worked. Thanks

[2017-04-12 02:27] lxfire opened #102 "how to use react-infinite-calendar-events,it's not work after import"
hi,this calendar is so good ,I need selected callback event,just like beforeSelect、afterSelect,so i import react-infinite-calendar-events,but it's not work . I don't  know what should i do,can u give me some idea?
tks

[2017-04-12 19:37] nickcan commented on #41
@clauderic Sorry for bothering. We were able to figure this out. We needed to add "React"  to an `externals` field in our Webpack config. We then found out that `npm link` breaks the external/peer dependency tree. So, the combo of `externals` and `npm install --save ../path/to/package` works.

Just wanted to let you know so you don't waste your time responding here. Thanks

[2017-04-13 20:47] mitchellcunha opened #103 "react-inifinite-calendar not working in IE11"
I was trying to see if this component would work for an implementation I am contributing to, but realized that it has an issue rendering in IE11 (and IE10). I checked the demo site for this component and realized that was broken in IE11 as well. Here is there error I encountered:

`SCRIPT5007: Unable to get property '__reactInternalInstance$he17twt1w9hj' of undefined or null reference`

Any idea i

[2017-04-26 20:21] chrisdrackett opened #105 "range header does not work in landscape mode"
screenshot of issue:

![example](https://d3vv6lp55qjaqc.cloudfront.net/items/46012J2o1y1R3d2r2M05/Screen%20Shot%202017-04-26%20at%201.21.26%20PM.png?X-CloudApp-Visitor-Id=2456&v=c2418703)

[2017-04-26 20:23] chrisdrackett opened #106 "range indicator "breaks" as calendar get wider"
here is an example when in landscape mode:

![example](https://d3vv6lp55qjaqc.cloudfront.net/items/46012J2o1y1R3d2r2M05/Screen%20Shot%202017-04-26%20at%201.21.26%20PM.png?X-CloudApp-Visitor-Id=2456&v=c2418703)

[2017-04-26 20:31] chrisdrackett opened #107 "styles start to have issues when used under 400px wide or so"
for example, selection circles get cut off, range header overflows:

![example](https://d3vv6lp55qjaqc.cloudfront.net/items/2P0K0946093M3Y363q3u/Screen%20Shot%202017-04-26%20at%201.31.14%20PM.png?X-CloudApp-Visitor-Id=2456&v=daa1ac33)

[2017-04-26 20:36] chrisdrackett opened #108 "passing `false` to selected when using range says invalid in header"
![example](https://d3vv6lp55qjaqc.cloudfront.net/items/2V2A461F2y0n2x3q1r43/Screen%20Shot%202017-04-26%20at%201.35.32%20PM.png?X-CloudApp-Visitor-Id=2456&v=74e1d3e5)

[2017-04-26 23:02] chrisdrackett opened #109 "with a limited number of months, "year" view does not fill available area"
For example, in the following example I've made the last 14 months available. This consists of 4 rows of months (2 for each year) that should easily fit in the available area. That being said, the first row is hidden and there is a good deal of gray space around the scrolling section.

![example](https://d3vv6lp55qjaqc.cloudfront.net/items/2L2z2A1L292B3i1D3t10/Screen%20Shot%202017-04-26%20at%204.0

[2017-04-27 16:45] syko opened #111 "Cannot install from forked repo"
Hey, I believe #48 is still an issue in v2.

The `files` in`package.json` contain the dist folders but those don't exist before the thing is built and there is no `install/postinstall` script to build it (+ `src` is not included so nothing to build from really).

Building it manually however works much better now :+1:

[2017-04-29 19:41] pjr87 commented on #46
I have the same issue, how did you get it to work?

[2017-04-29 19:49] yingw787 commented on #46
I don't remember at all, but I think it was something to do with installing the proper loaders. One thing I didn't notice immediately in Webpack was that you need to call the loaders in the proper order, i.e. `'style-loader', 'css-loader'` is not the same as `'css-loader', 'style-loader'`.

[2017-05-01 10:08] luigimassa opened #112 "range problem when implement onSelect with setState"
Hi,
I implemented an handler in component
In the handler of my component, I change the state. But then range it's not more disponible
**component**
[code]
**handler**
[code]

[2017-05-03 15:25] gaultier commented on #112
I think I have the same problem.

[2017-05-03 16:06] clauderic commented on #112
Two things:

First, since `withRange` is a Higher-order component, you should not use it directly in your render method. Instead, store the enhanced component in a variable outside of your component. See https://facebook.github.io/react/docs/higher-order-components.html#dont-use-hocs-inside-the-render-method for more details. This might explain the odd behavior you're seeing.

The other thing I ca

[2017-05-03 16:06] #112 closed

[2017-05-04 08:36] MichaelDeBoey opened #113 "Use 'react-transition-group/CSSTransitionGroup' package instead of 'react-addons-css-transition-group'"
`react-addons-css-transition-group` has been deprecated and has been put in the `react-transition-group` package since [`React v15.5.0`](https://facebook.github.io/react/docs/animation.html).

[2017-05-04 08:39] MichaelDeBoey opened #114 "Use 'react-transition-group/TransitionGroup' package instead of 'react-addons-transition-group'"
`react-addons-transition-group` has been deprecated and has been put in the `react-transition-group` package since [`React v15.5.0`](https://facebook.github.io/react/docs/animation.html).

[2017-05-04 08:50] #114 closed

[2017-05-06 20:23] MichaelDeBoey opened #115 "Add tests + coverage again"
Since `v2.0.0` all the tests + coverage are gone.
It would be nice if they came back, so we at least know that something is broken if we change code for a PR 🙂

CC: @clauderic

[2017-05-07 02:13] micahalcorn commented on #100
@winterblack did you figure out what the issue was on this?

@clauderic I'm running into the same problem simply by adding the import statement. Should I have to worry about whether the document is ready just to import a library? I'm using [react_on_rails](https://github.com/shakacode/react_on_rails).

[2017-05-07 02:26] clauderic commented on #100
@micahalcorn It has to do with where your `<script>` tag that imports the bundled javascript file of your application is located in the `document`. Make sure it comes after your `<body>` tag, or, failing that, make sure you don't call `ReactDOM.render` until the [document is ready](https://developer.mozilla.org/en/docs/Web/Events/DOMContentLoaded).

[2017-05-07 22:38] dben89x commented on #100
@micahalcorn @clauderic  I'm having the same problem, and am also using React on Rails. I'm not using a `script` tag anywhere. Does this need a `script` tag on an application level HTML file? I'm just simply trying to use `import InfiniteCalendar from 'react-infinite-calendar'` within my jsx file.

[2017-05-08 12:44] micahalcorn commented on #100
@dben89x yes, @clauderic is correct that you can solve the problem by moving your `<%= javascript_include_tag 'application' %>` out of the `<head>` and into the end of the `<body>`, although I'm not clear on why `react_on_rails` is not handling this sort of thing. You can see a similar discussion [here on the `react-big-calendar` repo](https://github.com/intljusticemission/react-big-calendar/issue

[2017-05-09 14:24] almoraleslopez commented on #103
Hi. Tested in IE11 and it's working.

Versions:
"react-infinite-calendar": "^2.2.0"
"date-fns": "^1.28.4"
"react-addons-css-transition-group": "^15.5.2"

[2017-05-09 22:05] clauderic commented on #115
Definitely, just need to find time to convert the existing tests. PRs are welcome if you feel like take a stab at it.

[2017-05-09 22:16] clauderic commented on #108
Fixed by 7ccacd2, will go out in the next minor release.

[2017-05-09 22:16] #108 closed

[2017-05-09 22:17] clauderic commented on #107
The styles provided out of the box are a set of reasonable defaults. Feel free to override them if you need to support smaller sizes. If you come up with something that others could benefit from, PRs are welcome.

[2017-05-09 22:17] #107 closed

[2017-05-09 22:18] clauderic commented on #105
The `withRange` HOC is experimental and does not currently support landscape mode. This isn't something I plan on working on in the near future, but PRs are welcome.

[2017-05-09 22:18] #105 closed

[2017-05-09 22:20] clauderic commented on #102
The `beforeSelect` and `afterSelect` callbacks were removed in version `2.0.0`, you can import the controlled version of react-infinite-calendar directly by importing `import {Calendar} from 'react-infinite-calendar'` instead, which should give you enough control to decide whether to update the state of your application on select or not.

[2017-05-09 22:20] #102 closed

[2017-05-09 22:22] clauderic commented on #101
Hey there, thanks for the suggestion, I'll definitely keep it in mind for future projects 😄

Having said that, I'm pretty happy with the current examples page so I don't think this is something I'd merge at this point.

[2017-05-09 22:22] #101 closed

[2017-05-09 22:28] clauderic commented on #96
Fixed by 179237d, will go out with the next minor release.

[2017-05-09 22:28] #96 closed

[2017-05-09 22:29] #91 closed

[2017-05-09 22:29] #89 closed

[2017-05-09 22:30] clauderic commented on #85
Fixed by 7ccacd2, will go out in the next minor release.

[2017-05-09 22:30] #85 closed

[2017-05-09 22:33] clauderic commented on #84
I believe this is no longer an issue, or at least not one I'm able to reproduce

[2017-05-09 22:33] #84 closed

[2017-05-09 22:38] clauderic commented on #80
Yeah, @lap123 is right. Based on the current implementation, I'm not sure there's a way around it, but PRs are most welcome if any of you want to take a stab at it. Going to close out this issue since it isn't something that's actionable at the moment and I don't have the bandwidth to work on it myself.

[2017-05-09 22:38] #80 closed

[2017-05-09 22:38] #58 closed

[2017-05-09 22:44] clauderic commented on #106
Fixed by e654e10, will go out in the next minor release.

[2017-05-09 22:44] #106 closed

[2017-05-09 22:52] #93 closed

[2017-05-09 23:03] clauderic commented on #109
Not sure which combination of props you used to get that result, I'm unable to replicate it myself. Happy to look into it if you can share the steps to reproduce.

You can also use the `displayOptions={{showMonthsForYears: false}}` in this scenario.

[2017-05-09 23:03] #109 closed

[2017-05-09 23:11] clauderic commented on #113
Fixed in 8873620, this will go out in the next release.

[2017-05-09 23:11] #113 closed

[2017-05-09 23:13] #97 closed

[2017-05-09 23:35] clauderic commented on #111
Hey @syko,

That's a good point. I'll try to make some time to address this in the near future. If you have a pressing need for this, PRs are definitely welcome!

[2017-05-10 02:39] #24 closed

[2017-05-10 02:43] clauderic commented on #7
It's not completely out of the cards, I'm just not sure what the UI should look like for the time picker. Part of me also thinks this is a little out of scope, but I'd be open to considering it.

Most of the material design-esque time pickers I've seen look like this, and are a bit clunky to use from a user-experience perspective.

![components_pickers_time1](https://cloud.githubusercontent.com/as

[2017-05-10 02:43] #34 closed

[2017-05-10 02:50] clauderic commented on #103
Hey @mitchellcunha, thanks for pointing out this issue. This is just an issue with the demo site, forgot to include `babel-polyfill`. IE10 and IE11 don't support certain features such as `Object.assign`, but you can easily solve this in your application by polyfilling them.

[2017-05-10 02:50] #103 closed

[2017-05-10 12:46] bvanbrem commented on #7
Hi! As i'm interested in your project, I would like to do a suggestion for the timepicker UI.  Please look at a more detailed description in the attachements.  Feel free to use me if you think I can help you with user behaviour and other project related (not code related) issues.

![timepickersimple](https://cloud.githubusercontent.com/assets/8875724/25899089/d150633c-358e-11e7-96e2-3479858f277b.P

[2017-05-11 17:56] MrSauceman commented on #85
This did not fix the issue for me.  Still seeing ````1969 Wed, Dec 31st```` when no date is selected in the range calendar.

[2017-05-11 17:59] MrSauceman commented on #84
This is still happening for me when clicking on the year in the range calendar.  The error is a little different now, though:

[code]

[2017-05-12 16:47] dben89x opened #116 "Updating scroll date when passing a function into `onselect`"
I'm using the following code to update my component when a date is selected:
[code]
This properly updates the state to the selected date, but it does not update the selected date on the InfiniteCalendar component. Do I need to return something? Do I need to manually call `setScrollDate(date)` somehow?

[2017-05-12 21:15] dben89x commented on #116
I eventually just went with the following to manually update the selected date:

[code]

And the component state:

[code]

[2017-05-12 21:50] chrisdrackett opened #119 "minimum height?"
I'm passing a height of `480` yet the calendar itself reprots as 627 high. Is there a minium height or am I doing something wrong? This is with `withRange` on.

[2017-05-13 02:10] clauderic commented on #116
I'm confused, why the duplication of state? Try this:

[code]

[2017-05-13 02:10] #116 closed

[2017-05-13 02:12] clauderic commented on #119
The `height` prop represents the height of the scrollable region, without taking the header into consideration. If you add in the height of the header, you'll get the same total.

[2017-05-13 02:12] #119 closed

[2017-05-13 02:15] dben89x commented on #116
@clauderic I refactored that to one variable shortly after posting it. I'm simply a React newbie so I operate at about 25% efficiency of a normal competent dev :)

[2017-05-13 02:16] clauderic commented on #116
Haha no worries! Glad you were able to figure it out 😄

[2017-05-13 02:17] dben89x commented on #116
@clauderic Thank you for the amazing tool, by the way. I am loving it.

[2017-05-14 03:42] chrisdrackett commented on #119
what is the thinking behind this? I'm trying to fit the calendar into a popover, so it would be nice to set the total dimensions. For now I looked up the header height and subtracted it from the height I measure and need the calendar to fit in, but it would be nice not to need this step.

[2017-05-16 17:15] mitchellcunha commented on #103
Thanks for looking into that, I appreciate it.

[2017-05-17 19:27] sschenk opened #120 "Specifying height prop for a ranged calendar loads the calendar at 1980 rather than today"
Also the today bar isn't visible when scrolling.

Leaving the default height works as expected.

Seems like a bug, unless I'm missing something.

[2017-05-17 21:26] sschenk commented on #120
I was passing the height as '400px'

[2017-05-17 21:26] #120 closed

[2017-05-22 13:56] luigimassa commented on #112
Thank you :+1:

[2017-05-22 14:13] luigimassa commented on #112
Hi,
I tried your suggestions but there the problem remains:
[code]
The console log don't display any range...

[2017-05-29 11:56] syko opened #121 "react-addons-css-transition-group is deprecated"
Should use https://github.com/reactjs/react-transition-group instead.

From https://www.npmjs.com/package/react-addons-css-transition-group:

[2017-05-29 12:38] clauderic commented on #121
Duplicate of #113.

This was already addressed by 8873620, just update to the latest version to get the fix :)

[2017-05-29 12:38] #121 closed

[2017-05-30 08:32] MichaelDeBoey commented on #111
@clauderic Any news on this one?

[2017-06-02 10:19] m-sanders opened #122 "`disabledDays` Sunday with UK locale is not always disabled."
Given the following props, only the 1st of a month that falls on a Sunday is disabled:

[code]

Given the following props, the 1st of a month that falls on Sunday is never disabled (e.g. 1st October 2017):

[code]

Given the following props, Sunday will always be disabled:

[code]

[2017-06-06 17:01] andresberrios commented on #80
I'm having this issue, but it doesn't seem to have performance issues when I use it in the demo: http://clauderic.github.io/react-infinite-calendar/#/enhance-default-functionality/range-selection?_k=lq88j9
What could be the difference?

[2017-06-12 18:56] sandeep11jun opened #123 "React Js Infinite calendar not working in IE"
Hi Guys,

Thanks for your great work and developing a great calendar.

This calander is not working in IE/IE-11 (Object.assign() doesn't work in IE). It would be good if you guys can work on this fix. I've implemented this plugin in my project but this is not working in IE.

Thanks in advance

[2017-06-12 19:55] clauderic commented on #123
IE10 and IE11 don't support Object.assign, but you can easily solve this in your application by including a polyfill for it https://babeljs.io/docs/plugins/transform-object-assign/

[2017-06-12 19:55] #123 closed

[2017-06-12 20:02] sandeep11jun commented on #123
Thanks for your quick response.

I'll do that and hope will get success.

thanks

[2017-06-15 16:21] hdon opened #124 ""Select Year First" Gets Months Wrong"
I'm using stock Chromium on Ubuntu Xenial.

When you click on the "Select Year First" option on the left-hand side of the demo page, what you get isn't quite right.

http://clauderic.github.io/react-infinite-calendar/#/customization/select-year-first?_k=tmpazw

http://imgur.com/a/yKvix

My Chromium version is 58.0.3029.110 (Developer Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

http:

[2017-06-16 13:23] MichaelDeBoey commented on #111
@clauderic Any news on this one? 🙂

[2017-06-16 13:23] MichaelDeBoey commented on #115
@clauderic Any news on this one? 🙂

[2017-06-29 16:52] jinalex commented on #124
+1

[2017-06-30 09:20] WebTalentTop opened #125 "Format is not defined"
DatePicker.js?afb7:21 Uncaught ReferenceError: format is not defined

You would get what I mean.

[2017-07-06 04:37] TrustTheBoy opened #126 "Is it possible to use multiple dates and ranges in combination? Similar to this"
![image](https://user-images.githubusercontent.com/20201085/27895691-10873550-6247-11e7-95ec-b21c8adea68b.png)

[2017-07-06 14:46] dashed commented on #121
fyi, `react-addons-css-transition-group` is still mentioned on the `README.md`

[2017-07-09 01:34] quachsimon opened #127 "Stylesheet not being imported"
I am trying to import the stylesheet as suggested in the README file but, it does not seem to be imported?

`import 'react-infinite-calendar/styles.css';`

I am using [react-starter-kit](https://github.com/kriasoft/react-starter-kit).

I am thinking it has something to do with how webpack configures the css file?

Any help would be great!

![screenshot 2017-07-08 21 31 16](https://user-images.gith

[2017-07-10 14:12] vijayst commented on #99
I wrote [an article how to highlight dates](https://vijayt.com/post/highlighting-dates-react-infinite-calendar/) outside of react-infinite-calendar.

[2017-07-10 16:11] #127 closed

[2017-07-10 16:46] quachsimon opened #128 "Range Selection do not show day on 2 dates selected"
In the [demo](http://clauderic.github.io/react-infinite-calendar/#/enhance-default-functionality/range-selection?_k=9xo5f6) when you select 1 date it displays the default locale `'ddd, MMM Do'` and when selecting a second date it shows `'MMM Do'` for the two.

It doesn't seem to be the case for me though.

If I don't set the `locale` prop it displays the default `'ddd, MMM Do'` regardless of wheth

[2017-07-11 04:11] RajaSreekanth opened #129 "passing values to theme from scss"
Infinite Calendar is a cool widget. We are trying to use it in our project. However, the problem is we can't hard code the colors in the custom theme. I wonder if there is a way to set the values in the theme from regular style sheet. We are using SCSS.

I tried couple of options like sass-extractor to read the scss file and extract them as JSON, but they seem to work on 'node' environment only. A

[2017-07-11 07:13] tcm2029 opened #130 "Unexpected token when import css"
I followed the guideline from the readme page and added the following line in my js file (It's a react component)

import "react-infinite-calendar/styles.css";

But I encounter this error when running gulp:

events.js:160
      throw er; // Unhandled 'error' event
      ^
SyntaxError: Unexpected token

Does anyone know to fix it? Because I'm quite new to React

[2017-07-11 13:47] clauderic commented on #130
You need to use the appropriate loader.

Assuming you're using [webpack](https://webpack.github.io/), check out https://github.com/webpack-contrib/css-loader

[2017-07-11 13:47] #130 closed

[2017-07-24 12:17] davidfloegel opened #132 "Calendar jumps when using redux to manage selected dates"
Hi there,

great calendar!

I have an issue with using it with redux-form however.
I'm building a create-event form and store selected dates in an array.

So when clicking a date I trigger this:
[code]

Everything works but the calendar always jumps to the position of the current date! I'm assuming it has something to do with the `selected` array being changed?

Thanks!

David

[2017-07-24 22:26] philcockfield opened #133 "Number Layout Collision"
Beautiful calendar @clauderic!

When viewing the demo instance of the component (here) there appears to be an issue with the layout of day numbers:

- Follow on from "today" is incorrect (2 instead of 26)
- Values colliding (see image below)

![image](https://user-images.githubusercontent.com/185555/28547534-66a8c274-7123-11e7-99e3-29bd1296eb0e.png)

[2017-07-25 03:03] clauderic commented on #133
Hmm, must be a weird locale issue. What timezone are you in?

This is what I see:
<img width="442" alt="screen shot 2017-07-24 at 11 02 33 pm" src="https://user-images.githubusercontent.com/1416436/28553897-3c4b53fc-70c4-11e7-9b41-3c2a89573eab.png">

[2017-07-25 06:10] philcockfield commented on #133
Hey there @clauderic, I'm in `NZST`

    "Tue Jul 25 2017 18:09:54 GMT+1200 (NZST)"

[2017-08-04 09:17] adrianha opened #134 "onSelect bugs on mobile browser"
Hi, I'm facing an issue on mobile browser (Tested on Safari iOS & Chrome Android). It looks like theres another layer when select date on safari, so when i tap on new date and also theres obvious delay on chrome for android. Could you check this issue please?

Here's the repo example: https://github.com/adrianha/reactInfiniteCalendarTest
Thanks

[2017-08-04 14:00] clauderic commented on #134
You'll likely want to enable [FastClick](https://github.com/ftlabs/fastclick) in your app.

[2017-08-04 14:00] #134 closed

[2017-08-11 21:40] ShavidzeT commented on #13
Nice work guys, datepicker works great.
Need multiple datepickers to get same ui <img src="http://www.picz.ge/img/s2/1708/12/d/d11198a7f57b.png" />

[2017-08-13 04:07] nontachaiwebdev opened #135 "can't start example after yarn install"
Hi i got a problem.
Problem is after `yarn install` and then i want to start example with `yarn start` command then i got this error

[code]

[2017-08-17 03:20] YutHelloWorld opened #136 "not support IE9"
Hey! I found the calendar use flex-box for layout .It's not support IE9. Is any solution?

[2017-08-18 18:24] arecvlohe commented on #135
Hi, this is a great library with an awesome looking date picker! I am running into the same issue above, both using `npm install` and `yarn install`

[2017-08-18 18:27] arecvlohe commented on #129
Does this mean you can't customize the theme?

[2017-08-18 18:28] arecvlohe commented on #125
Could you give a little more context?

[2017-08-18 18:51] arecvlohe commented on #6
@offsky He is using destructuring to select the props that are coming before it and modifying them in some way before passing them to the wrapped component. I hope that helps.

[2017-08-21 08:27] #135 closed

[2017-08-24 21:38] jayalfredprufrock commented on #45
I think this would add some much needed flexibility. Consider the case where the _majority_ of dates should be disabled, i.e. you have a list of dates that should be _enabled_. Creating an exhaustive list of disabled dates from a list of enabled ones is pretty inconvenient, but passing a function to disabledDates would make this trivial.

[2017-08-31 09:57] enniel opened #138 "view mode"
How to only view dates?

[2017-09-06 09:26] vasiliraby opened #139 "Add minimal date range selection to options"
It will be convenient if we could select a date range only more or equivalent to minimal date range that we set in options. For example, we set minimal date range to 7 days (1 week). So we can't select from 1 to 6 days, only 7 and more. This feature could help us avoid some custom validation.

[2017-09-12 13:14] dimitropoulos opened #140 "docs list March twice, miss Feb"
![image](https://user-images.githubusercontent.com/15232461/30327631-c2b3d958-979a-11e7-996c-c3046dbf36bb.png)

http://clauderic.github.io/react-infinite-calendar/#/customization/select-year-first?_k=0pth0m

[2017-09-12 13:34] clauderic commented on #140
What browser are you using / which timezone are you in?

[2017-09-13 15:36] tonymckendry commented on #135
For us non-yarn users, `npm install webpack --save` worked for me

[2017-09-13 22:22] blackdynamo commented on #84
For anyone experiencing this issue, make sure you initialize the date you give the calendar with a date object not just a string date.

[2017-09-15 09:06] Niels-P opened #141 "Can't translate monthsShort"
Hi,

I try to translate months short, but it doesn't work. It stills shows the months in English, which of course isn't good.

`locale={{
                            name: 'dutch',
                            months: ["Januari","Februari","Maart","April","Mei","Juni","Juli","Augustus","September","Oktober","November","December"],
                            monthsShort: ["Januari","Februari","Maar

[2017-09-15 09:11] Niels-P commented on #70
For people who try to do this:

Insert this prop in the Infinite Calendar
`theme={{
       selectionColor: date => {
               return decideColor(date)
       },
});`

And add a function to your component.

`const decideColor = (selectedDate) => {
            for(let i = 0; i < this.state.selectDates.length; i++) {
                let dateOne = new Date(this.state.selectDates[i]).getDate() +

[2017-09-15 18:13] tonymckendry opened #142 "scrollToDate when 'selected' prop is changed"
I've been rooting around in the source code trying to figure out how to accomplish this but so far am coming up empty.

I want to be able to pass a date into the 'selected' prop and have the calendar scroll to that date automatically - is there currently a way to do this? If not, could you point me at where I might start? I

[2017-09-15 22:19] michaelolo24 commented on #140
I'm getting the same error in the US (east coast)

[2017-09-15 23:57] dimitropoulos commented on #140
chrome in ET

[2017-09-22 15:41] Shirikatsu opened #143 "Support easy re-ordering of day columns"
Calendar shows day columns from left to right as Sunday - Saturday.

It would be nice to be able to change this so that we can set any day as the far left column and cascades to the right.

I.e. Instead of the default:
![screen shot 2017-09-22 at 16 39 05](https://user-images.githubusercontent.com/4716816/30752578-9be60266-9fb4-11e7-8f92-47363e696403.png)

Change to:
![screen shot 2017-09-22 at 16

[2017-09-22 16:28] clauderic commented on #143
This is already something that's currently possible, see http://clauderic.github.io/react-infinite-calendar/#/internationalization/first-day-of-the-week

[code]

[2017-09-22 16:28] #143 closed

[2017-09-22 16:31] Shirikatsu commented on #143
Thanks and apologies for this redundant issue.

[2017-09-26 19:37] knordstrom commented on #7
I agree on the Material clock design, the UX is painful. Particularly because the mechanical clock is not a common meme these days and younger generations are less familiar with it.

I like the simplicity of what @bvanbrem proposed. Though configurable to include seconds.

To launch it, I was imagining something whereby a bubble/icon is available above each selected date that could be clicked to o

[2017-09-28 21:45] mohitsud commented on #112
in your onSelect, before updating state, be sure to  check the eventType
`onSelect(data) {
  if(data.eventType === 3){
     //update state
  }
}`

[2017-09-28 23:11] kevinau commented on #133
I'm in Australia and I see the same thing.  Australian central standard time is GMT+0930.

In addition I see gaps:
![image](https://user-images.githubusercontent.com/3425841/30994165-c9b1cfee-a4f1-11e7-8e66-79f424db8daa.png)

I suspect this is a related problem.

[2017-09-28 23:27] kevinau commented on #133
For what its worth, I think this problem is caused by an incorrect "vertical offset".  In the example given by philcockfield, there is one line missing:

- The dates 26, 27, 28, 29 are missing completely.
- The dates 30 and 31 overlap the line below--the dates 6 and 7.
- The date 1st is missing (its under the 25).

This is 7 days (one week), or one line.

In my example, there is an extra line.

[2017-09-29 08:34] snaerth commented on #121
You should update your README.md from **react-addons-css-transition-group** to **react-transition-group**

[2017-10-02 04:04] iamsaksham opened #144 "Custom placeholder when initial date is blank"
As per [this](http://clauderic.github.io/react-infinite-calendar/#/basic-settings/blank-initial-state?_k=pgywre) example, when we have initial selected day as blank, then there is a placeholder which says `select a date`.
Is there any way we can have our custom placeholder text?
Use case is that in case of range selection, it still says `select a date` but i'd like it to say `select start and end

[2017-10-02 04:06] clauderic commented on #144
Sure, just edit the locale prop:

https://github.com/clauderic/react-infinite-calendar/blob/master/src/utils/defaultLocale.js#L2

[code]

[2017-10-02 04:06] #144 closed

[2017-10-02 04:07] iamsaksham commented on #144
Wow, that was quick. Thanks a lot @clauderic
Anyways very nice and awesome repo

[2017-10-02 04:08] clauderic commented on #144
Thanks 😄

[2017-10-02 04:10] clauderic commented on #141
Hey @Niels-P, as of `react-infinite-calendar^2.0.0`, you need to install the appropriate `date-fns` locale for the language you want to support.

[code]

[2017-10-02 04:10] #141 closed

[2017-10-10 07:20] Jiiun commented on #141
@clauderic You are right! I have solved the month problem! Thanks~

[2017-10-11 09:19] DastanSE opened #146 "is it possible to put events on header?"
![screen shot 2017-10-13 at 11 12 04](https://user-images.githubusercontent.com/24663729/31528796-1a6c3150-af9b-11e7-90da-0a6c5def0936.png)

[2017-10-11 10:14] DastanSE commented on #146
http://www.ctbcculture.org/   like here

[2017-10-13 16:08] talibasya commented on #140
I had the same when `selected` was `moment.toString()` value.
Helped replacing by native js `Date` object 😎

[2017-10-19 08:27] PetitBateau commented on #139
I am looking for the exact same option but with a max range selection.

[2017-10-24 02:36] bodziowagh opened #147 "Read only/view mode - is there a way to disable onClick event?"
Is there a way to only display the calendar and selected date/dates defined in `selected` property of  the component? Im looking for a way to disable the `onClick` event to avoid changing the selection. Disabling specific dates or days of the week workaround isn't a good solution for me, because it removes the prior selection.

Possible duplicate: #138

[2017-10-24 05:27] email2vimalraj commented on #7
Anyone working on this feature? It will be needed by many people (being selfish :) )

I'll see if I can also contribute.

[2017-10-24 15:14] thomassuckow opened #148 "Range Calendar does not obey rowHeight"
The Range Calendar does not render correctly when rowHeight is set

![screen shot 2017-10-24 at 8 12 38 am](https://user-images.githubusercontent.com/3100037/31951495-29a9aee4-b893-11e7-8f5d-5bfd4169d026.png)

[2017-10-24 15:28] thomassuckow commented on #148
This seems to help:

[code]

But I am noticing this appears to assume you provide your own stylesheet if you tweak rowHeight. So I'll close this.

[2017-10-24 15:28] #148 closed

[2017-10-27 12:34] wmertens commented on #70
I would like to go a step further, and have support for defined ranges, that each can get a color or something, and that get passed to functions that decide what to do about the day (so if you render/click/hover over a day, callbacks get an array of matching ranges).

[2017-10-28 13:36] langri-sha commented on #136
All versions of IE prior to IE11 and IE Edge are effectively deprecated by the vendor since  January 12, 2016. The solution is to warn your users that they need to immediately upgrade their clients.

[2017-10-31 18:41] meta-meta commented on #140
I believe this is the issue https://github.com/clauderic/react-infinite-calendar/blob/master/src/Years/index.js#L53

What does the selected date have to do with months in the year?

[2017-11-01 21:29] adhesivewombat opened #151 "onSelect prop called when range is selected, not hovering"
Currently when selecting the end date of a range, the onSelect prop gets called anytime the user hovers over a date.  This can cause a lot of unnecessary updates when using a store like redux to control the date range and cause the picker to lag.

It would be nice if that was changed so that it was only called when the end date is actually selected.  Another prop could be added to handle the hover

[2017-11-02 19:26] iplanwebsites opened #152 "Using in plain JS/HTML"
Had anyone luck using this amazing component outside react?

[2017-11-02 21:01] clauderic commented on #152
That would require a monumental amount of work, essentially a complete re-write. I haven't heard of anyone going down that path.

[2017-11-02 21:01] #152 closed

[2017-11-03 01:46] iplanwebsites commented on #152
Thanks @clauderic!

[2017-11-06 08:26] jsj14 commented on #138
Is there a way to display the calendar on click of the input field and close it after the user is done selecting, because the color scheme and ui need not be necessarily suitable for every app?

[2017-11-07 05:07] jsj14 opened #153 "usage examples"
Has anyone tried using this embedded inside a wrapper component/pop up modal? It might be nice if gifs of the ways different people have used this in their apps, added to the examples folder.

[2017-11-07 10:09] jsj14 commented on #151
Are you setting 2 states in the onSelect(), besides the dates ?

[2017-11-07 18:46] adhesivewombat commented on #151
Right now I'm just setting the date range state and thats it.  It doesn't really cause noticeable lag, but I would prefer to only change the state when the date is actually selected and have a different control for hovering.

[2017-11-08 01:07] jsj14 commented on #151
Yes. I was trying to hide the calendar onSelect of the 'end' date and ran into this issue, since onHover also changes 'end' date. Now as a workaround I have to create another close button. Do you have any other suggestions, to handle hide/show of this calendar?

[2017-11-08 16:53] quachsimon opened #154 "Changing font size/style?"
Is it possible to adjust the font size and style of some of the elements?

More specifically I want to change the header date and the numbers to something smaller.

[2017-11-09 08:16] wxu-aa opened #155 "Can we support the Available Date Range Option ?"
For example, We want only such date range is selectable, [ 08/09/2017~11/12/2017]. Other date
 should be gray color and disabled, can not be selected.

Now we can only set few dates/days disabled. But if we want  set a date-range which are selectable/available, it's hard to do that.

Could you help take a look about this ?

Thanks a lot!

[2017-11-09 08:19] wxu-aa opened #156 "It seems no one maintain this calendar repo now, no?"
So pity ☹️

[2017-11-10 01:03] clauderic commented on #155
Seems like what you're describing could easily be achieved using `minDate` and `maxDate`, see http://clauderic.github.io/react-infinite-calendar/#/basic-settings/min-date?_k=f3wzdj

[2017-11-10 01:03] #155 closed

[2017-11-10 01:04] clauderic commented on #156
This repo is still maintained, but I don't have a lot of bandwidth to work on it at the moment, so I'm mostly only looking at critical bugs for the moment, and not new features.

[2017-11-10 01:04] #156 closed

[2017-11-10 01:06] clauderic commented on #146
Yes, if you create a custom renderer for the header this should be easily achievable. See the implementations of https://github.com/clauderic/react-infinite-calendar/blob/master/src/Header/withMultipleDates.js and https://github.com/clauderic/react-infinite-calendar/blob/master/src/Calendar/withMultipleDates.js, you should easily be able to fork both of those into your project and customize them t

[2017-11-10 01:06] #146 closed

[2017-11-10 03:12] wxu-aa commented on #156
Thanks

On Fri, Nov 10, 2017 at 9:04 AM, Claudéric Demers <notifications@github.com>
wrote:

--
*This email may contain or reference confidential information and is
intended only for the individual to whom it is addressed.  Please refrain
from distributing, disclosing or copying this email and the information
contained within unless you are the intended recipient.  If you received
this email in er

[2017-11-10 03:13] wxu-aa commented on #155
Works for me. Thank you!

On Fri, Nov 10, 2017 at 9:03 AM, Claudéric Demers <notifications@github.com>
wrote:

--
*This email may contain or reference confidential information and is
intended only for the individual to whom it is addressed.  Please refrain
from distributing, disclosing or copying this email and the information
contained within unless you are the intended recipient.  If you receive

[2017-11-10 18:04] adhesivewombat commented on #151
Hmm, I'm not sure if there's a better way to do it than that right now.

[2017-11-10 19:01] clauderic commented on #151
You get an `eventType` argument in the `onSelect` callback, see https://github.com/clauderic/react-infinite-calendar/blob/master/src/Calendar/withRange.js#L111

[2017-11-10 19:01] #151 closed

[2017-11-10 19:03] adhesivewombat commented on #151
Perfect!  Thanks clauderic.

[2017-11-10 19:04] clauderic commented on #154
Yes, but you'll need to write some custom CSS to achieve this. You can fork the existing `styles.css` file that is bundled with the npm package or overwrite those rules.

[2017-11-10 19:04] #154 closed

[2017-11-10 19:16] adhesivewombat commented on #151
I might make a pull request to add that to the documentation.

[2017-11-10 19:25] clauderic commented on #147
Yes, you can `import {Calendar} from 'react-infinite-calendar'` to achieve this.

`Calendar` is a controlled component (as opposed to uncontrolled, see https://reactjs.org/docs/glossary.html#controlled-vs-uncontrolled-components), therefore if you don't pass it an `onSelect` handler the selection will not update.

[code]

If you'd like to disable the hover styles, you can probably overwrite them u

[2017-11-10 19:25] #147 closed

[2017-11-10 19:26] clauderic commented on #138
@enniel
Yes, you can `import {Calendar} from 'react-infinite-calendar'` to achieve this.

`Calendar` is a controlled component (as opposed to uncontrolled, see https://reactjs.org/docs/glossary.html#controlled-vs-uncontrolled-components), therefore if you don't pass it an `onSelect` handler the selection will not update.

[code]

If you'd like to disable the hover styles, you can probably overwrit

[2017-11-10 19:26] #138 closed

[2017-11-10 19:28] clauderic commented on #138
@jsj14 Something like this should do:

[code]

[2017-11-10 19:30] clauderic commented on #136
You could try to re-write the css yourself, but this isn't something that I ever plan on fixing. As mentioned by @langri-sha, all browsers prior to IE11 are effectively deprecated, so best of luck if you're still trying to support them.

[2017-11-10 19:30] #136 closed

[2017-11-10 19:33] clauderic commented on #129
You can certainly customize the theme, there are a number of built-in customizations you can apply directly in JavaScript by passing a `theme` prop, see https://github.com/clauderic/react-infinite-calendar/blob/master/src/utils/defaultTheme.js for all possible customizations.

If you'd like more control, you can either fork the `styles.css` files that comes bundled with the npm package, or overwri

[2017-11-10 19:33] #129 closed

[2017-11-10 19:37] clauderic commented on #126
Short answer: no.

Long answer: You can essentially build any functionality you want on top of `react-infinite-calendar` by using the exported `Calendar` primitive and creating your own higher-order-component that enhances the base component.

This is how all of the different variations work, see [withDateSelection](https://github.com/clauderic/react-infinite-calendar/blob/master/src/Calendar/with

[2017-11-10 19:37] #126 closed

[2017-11-10 19:38] #125 closed

[2017-11-10 19:38] clauderic commented on #125
Sounds like an issue with missing dependencies, make sure `date-fns` is installed in your dependencies.

[2017-11-10 19:41] clauderic commented on #132
Could you create a reproduction of this issue in [JSFiddle](https://jsfiddle.net/clauderic/4rhn03do/) or [WebpackBin](https://www.webpackbin.com)?

As a rule of thumb, you should always provide enough code for the issue to be replicated when you open issues in open source projects. There's really no way for me to help you otherwise.

[2017-11-10 19:41] #132 closed

[2017-11-10 19:42] clauderic commented on #124
Closing as duplicate of #140, will discuss there.

[2017-11-10 19:42] #124 closed

[2017-11-10 19:44] clauderic commented on #142
This should already be the default behaviour, you can use the `scrollDate` prop if you would like to manually control which date the calendar scrolls to.

[2017-11-10 19:44] #142 closed

[2017-11-10 19:46] clauderic commented on #128
Unless you explicitly set the `locale.headerFormat` value, it will default to  `'MMM Do'`
See https://github.com/clauderic/react-infinite-calendar/blob/master/src/Header/withRange.js#L15

This is a design constraint, there's really no way around this unless you reduce the font size.

[2017-11-10 19:46] #128 closed

[2017-11-10 20:54] adhesivewombat commented on #153
Still a work in progress but I'm using this along with [react-md](https://react-md.mlaursen.com/).
![image](https://user-images.githubusercontent.com/8271385/32678152-3b242fc4-c62f-11e7-877f-82fef59cc4ee.png)

[2017-11-11 06:39] jsj14 commented on #138
Thanks @clauderic. I did do something like this eventually. Just wanted to know if the library had any plans of adding a close button at the top right corner or so...

[2017-11-13 10:12] bodziowagh commented on #147
Thanks! I'll check it out.

[2017-11-14 08:09] rihena opened #157 "Disable Specific Dates"
Hi,

I read the following tutorial
 http://clauderic.github.io/react-infinite-calendar/#/basic-settings/disable-specific-dates?_k=dkmu7d

The code shows in this tutorial has some errors. It should be as followed:

// Example: Disable a range of dates
<InfiniteCalendar
   disabledDates={[
     new Date(2017, 11, 4),
     new Date(2017, 11, 9),
     new Date(2017, 11, 8),
     new Date(2017, 11, 19)

[2017-11-15 00:50] iryan2 opened #158 "Update to React 16"
Great calendar by the way, much nicer than some of the alternatives.

I'm using it with React 16 and hoping to remove the npm warnings I get, namely:
`recompose@0.22.0 requires a peer of react@^0.14.0 || ^15.0.0 but none is installed.`

recompose supports React 16 as of [v0.25.1](https://github.com/acdlite/recompose/releases) so this should be an easy fix.

The `package.json` already allows the Re

[2017-11-16 22:32] brendonlamb opened #159 "Disabled dates "within" a range doesn't invalidate the range?"
![image](https://user-images.githubusercontent.com/1816511/32919399-ab03915e-caf3-11e7-9fb5-8975fd1168c3.png)

In this example I disabled December 25th and I selected (as a user might) the 22nd (start) and 27th (end)

Is this normal function? Do I need to validate that my range has clashed with disabled date?

To be clear- the 25th *is* disabled still, I can't click it, but I can click around it w

[2017-11-18 04:01] wxu-aa opened #161 "Bug-withRange(Calendar) can not work with `display="years"`"
This config will cause error:
[code]

[2017-11-18 12:20] Asthonishia opened #162 "Any event on the Day selection ?"
Hi,

Just a litlle question. Is thete any event triggered on day selection ?
Just asking because actually i want to trigger close on day selection only.

Best regards.

[2017-11-20 03:58] wxu-aa commented on #162
Try the  `event.eventType === 3`

[2017-11-20 03:59] wxu-aa commented on #161
Any one would fix the issue ?

[2017-11-20 20:43] clauderic commented on #162
There's an `onSelect` prop you can use for that:

[code]

[2017-11-20 20:43] #162 closed

[2017-11-21 03:56] wxu-aa commented on #161
Resolved. Here the selected need the normal Date Object. But Ipassed the

[2017-11-21 03:56] #161 closed

[2017-11-21 10:10] Asthonishia commented on #162
@clauderic : The problem is that the "onSelect" close the datepicker after the first select, not the final one. So you can choose a month, but not a day. I'm looking for a solution to close only after day selection.

[2017-11-22 01:28] wxu-aa commented on #162
@Asthonishia Hey, have you tried to use the `event` parameters ? If the `event.eventType === 3`, then it means it is after day selection.

[2017-11-22 08:16] Asthonishia commented on #162
@wxu-aa not yet but it's interresting. How do you use it exactly ? On a "if" when onSelect is triggered ?

[2017-11-22 16:44] apolkingg8 opened #163 "How to disable "scroll to selected" when selected change? (Using range and multiple select)"
Hi, my use case is like that:
[code]
I found a issue, every time I update `MyComponent`, the `Calendar` component will re-render again (not update), and `scrollTop: this.getDateOffset(this.props.scrollDate)` will effect and scroll to seleted date. That's fine in range select but bad user experience in multiple select. How can I avoid this feature? I'm tried trace source code but seams no easy way

[2017-11-23 01:54] wxu-aa commented on #162
@Asthonishia It would looks like this,

[code]

[2017-11-23 17:44] sun2rise opened #164 "Use it as Month selector only"
Hi, could be possible to use this to select the year and the month only?
Sometimes it would be very useful for accountancy.

I imagine it like just like the [Select year first demo](http://clauderic.github.io/react-infinite-calendar/#/customization/select-year-first?_k=y42uh3) but when i select the month wouldn't get the day selection screen but it closes and gives me the date with the first day o

[2017-11-26 05:22] aaronryden opened #165 "Scroll past max date"
Would it be possible to prevent scrolling past the maxDate?

[2017-11-27 21:53] clauderic commented on #165
Yes:

<img width="924" alt="screen shot 2017-11-27 at 4 52 46 pm" src="https://user-images.githubusercontent.com/1416436/33291318-6bf208d0-d393-11e7-9019-ba7ad571d739.png">

Use the `max` prop for that.

[2017-11-27 21:53] #165 closed

[2017-11-30 06:49] wxu-aa opened #166 "Range Selection - When scroll fast, the blue focus-selection will not be shown for enddate"
Hey bro, found one small issue for Range Selection,

http://clauderic.github.io/react-infinite-calendar/#/enhance-default-functionality/range-selection?_k=1j53e5

Click on the start date, and scroll down to few months later quickly, you will found when it stoped,  the blue focus selection is not shown. And if you move mouse now, then the blue focus-selection will be shown. But if you scroll down s

[2017-12-04 06:15] zli-aa commented on #139
Really want a max range selection.

[2017-12-04 06:23] zli-aa opened #167 "Document for beforeSelect callback"
It says that `beforeSelect` is supported in the features section, but the callback is not documented in the property section. And the callback seems not working.

Could you please help update the document? Thanks.

[2017-12-04 15:36] Kaishiyoku commented on #32
What is the status of this issue? I'm looking forward to it, too.

[2017-12-04 20:36] zenfe opened #168 "withKeyboardSupport - Uncaught TypeError: Cannot read property 'start' of null"
Initializing a calendar with no initial selected date and enabling keyboard support results in the follow error when attempting to tab away from the calendar.

[code]

[2017-12-07 17:11] justinhessdev opened #169 "Better way to get selected state for infinite calendar range"
I am trying to submit the `selected` date range in a chat:
The only way I was able to grab the `selected` state of the `Calendar` was by using `ref`

`ref={(ref) => { this.calendar = ref }}`

Then when the submit button is `clicked` I pass `this.calendar.state.selected`
Is there a better way to get the selection?

Usually there is some sort of `target` or `value` I can use:
Is there an option to d

[2017-12-07 17:14] clauderic commented on #169
Use the `onSelect` prop to keep track of the selected date range in your app's state:

[code]

[2017-12-07 17:14] #169 closed

[2017-12-07 17:30] justinhessdev commented on #169
Thanks for your really quick response:

I tried that previously but it does not work properly for me.

For Range I need to click twice: However when I click the first time - it makes the start and end the same day. There is no more range.

[2017-12-07 17:33] justinhessdev commented on #169
I initialize date picker with a range:

<img width="432" alt="screen shot 2017-12-07 at 12 31 20 pm" src="https://user-images.githubusercontent.com/7797010/33729127-a985431a-db4a-11e7-9323-ae5ef1ecfa34.png">

Then when I click once it loses the range:

<img width="426" alt="screen shot 2017-12-07 at 12 33 20 pm" src="https://user-images.githubusercontent.com/7797010/33729190-df18a742-db4a-11e7-886

[2017-12-07 17:37] clauderic commented on #169
What happens when you move your mouse? Do you not see the same behaviour as on the demo? http://clauderic.github.io/react-infinite-calendar/#/enhance-default-functionality/

[2017-12-07 17:40] justinhessdev commented on #169
That is the same.
However I want range , not single date picker

[2017-12-13 08:49] michal84 opened #170 "OnScrollEnd stop triggered at start"
Hi,

I was using old packagage of `react-infinite-calendar` and in 1.2.2 and now I'm switch to 2.3.1.

Previously there was an trigger on onScrollEnd event at the start. Right now this trigger is down. Is there an option to execute this trigger ? Other option is how to get scrollTop of calendar ?

[2017-12-13 14:07] clauderic commented on #167
Sorry, `beforeSelect` was deprecated in version 2.0 as it is no longer needed, you can use the controlled version of `react-infinite-calendar` instead by importing
[code]

I'll need to update the docs to remove references to `beforeSelect`

[2017-12-13 14:07] #167 closed

[2017-12-14 07:33] jsj14 opened #171 "NaN Invalid Date on header in Firefox"
![screen shot 2017-12-14 at 1 02 30 pm](https://user-images.githubusercontent.com/5557404/33980469-128fee9e-e0cf-11e7-9fbd-8867a5b7502c.png)

Has anyone figured a workaround for this. How do I modify with what the header displays?

[2017-12-14 22:35] futbolistua opened #172 "Calendar does not renrer dates"
Calendar does not render dates till scrolling if it has more than one available month
![12](https://user-images.githubusercontent.com/1417393/34017792-d7e01182-e12f-11e7-8a4f-7de4f25bfa89.png)
![123](https://user-images.githubusercontent.com/1417393/34017793-d7fa88b4-e12f-11e7-8c42-2b4c7091d0a2.png)

[2017-12-18 11:47] futbolistua commented on #172
Any comments, updates?

[2017-12-21 22:05] cfristofer commented on #85
To fix the issue to the next :

const today = new Date();
const  Dateclass = {
  start : new Date(),
  end :  today.setDate(today.getDate()+1)
};
render(
  <infiniteCalendar
    Component={withRange(Calendar)}
    width={Math.min(window.innerWidth, 400)}
    selected={Dateclass}

**if you want to avoid 1969 Wed, Dec 31st just send Dateclass  null and that's all.**

[2017-12-23 15:59] elanamig opened #173 "Highlighting specific dates (independent of mult. date selection)"
Hello!  I am wondering if there is a way to initialize calendar with certain dates highlighted (while still allowing the user to select only one date).  For example, given some list of event dates, initialize the calendar with dates that are in a different color if the date corresponds to an event date.  The user should still only be able to select only one date at a time, and the highlighted date

[2018-01-11 01:46] smoulden opened #174 "Multiple date ranges"
This calendar is sooooo awesome. I love it.

I would make one request though: you have date range capabilities and multiple date capabilities. Can you have multiple date range capabilities? That way, you can have a date picker similar to Google Analytics where you can compare this week and last week.

[2018-01-11 02:36] kixortillan commented on #158
+1 for this. Hope dependencies would be updated

[2018-01-11 06:57] clemmy commented on #174
I would also love this feature!

[2018-01-12 02:43] hoolymama opened #175 "disable highlight on today's date"
Is there a way to disable the TODAY highlight on a date, or to show it on the UTC date, regardless of where the client is?

I'm using the calendar to pick dates In UTC. So TODAY when its 9pm on 11th Jan in EST is in fact 12th Jan UTC.

[2018-01-13 00:02] ferarnoled commented on #167
I want to prevent the user to select the date (just capture what date he clicked). I don't think there is a way to do that now, it looks like with beforeSelect you could do that.

[2018-01-16 16:39] sudeshim3 opened #176 "minimum date before 1980,0,1 and max date beyond 2050,11,31"
How about people selecting there birth date before 1980. Is there any way to expand the limit. I am not able to set below the default date of 1980,0,1

[2018-01-26 07:58] sandysandajan opened #179 "Selected date cannot be changed when passing date to selectedDate props."
I'm trying to change the selected date by passing the another date in selectedDate props, but it seems that the only time that the selected date changes is when onSelect props is called. Is there another way to change the selected date? (This is different from initially selected date)

[2018-01-30 16:30] NewbieX2 opened #180 "CSS is not properly displaying"
Even with the most basic usage:

[code]

This is the result:

![image](https://user-images.githubusercontent.com/26860300/35577841-710b61d2-05b0-11e8-9a6a-bc62f7880cd4.png)

Is there something else I need to be doing?  I've checked previous closed issues, but there don't seem to be any solutions.  I'm using my project with create-react-app, if that is pertinent.

[2018-01-31 16:56] NewbieX2 commented on #127
Did you end up fixing this?  If so, how?

[2018-02-01 15:03] NewbieX2 commented on #180
Someone from my team seemed to fix the problem.  In the webpack configs, they changed instances of `include: paths.appStyles` to `include: paths.globalStyles`.

[2018-02-01 15:03] #180 closed

[2018-02-06 03:40] hoaiduyit commented on #172
I have this issue too

[2018-02-07 09:56] cardamo commented on #163
Hey @apolkingg8 !
I ran into the same problem.
The reason of re-render is that you create a new component on every `withRange(Calendar)` call.
So extracting it into a constant solves the problem
Like this:
[code]

[2018-02-07 16:49] AlexCatch commented on #169
I'm also having this issue.

[2018-02-09 04:50] clemmy commented on #174
Referencing https://github.com/clauderic/react-infinite-calendar/pull/160 here.

[2018-02-14 18:27] acmitch commented on #169
Yep. This is a issue when using the range funtionality. For now instead of changing state I saved to class variables.

[2018-02-20 19:27] nbosco opened #181 "On library import; super expression error"
Versions:
    - "react-dom": "0.14.9",
    - "react-infinite-calendar": "^2.3.1",
    - "redux": "^3.3.1"

index.js?7943:5 Uncaught TypeError: Super expression must either be null or a function, not undefined
    at _inherits (index.js?7943:5)
    at eval (index.js?7943:24)
    at Object.eval (index.js?7943:82)
    at eval (840:100)
    at Object.840 (bundle.js:971)
    at __webpack_require__ (ven

[2018-02-21 22:01] james-ff opened #182 "When this component is presented / rendered it scrolls to the center"
I have this component as part of a section in my react app that hides and shows sections with a Collapse element (everywhere else I use this Collapse component the scroll position is unaffected). When the collapse is shown and this control is rendered / shown it moves the scroll position of the page to itself. This for me is undesirable as it scrolls past a subsection above it. Any idea why this m

[2018-02-27 14:27] yazpid opened #183 "Multiple select date - diffrent colors"
Hi, At the beginning I would like to congratulate you on the great datepicker. I have a question, is it possible to adjust colors when selecting multiple dates?

[2018-02-27 22:23] rsong003 commented on #180
@NewbieX2 I'm running into a similar issue can you post your webpack config?

[2018-03-05 01:45] theonlydaleking commented on #172
Was running into this issue before, there is another issue where the author suggested hiding and unhiding the calendar with something like this:

`<div style={{display: this.state.visible ? 'block': 'none'}}>
<InfiniteCalendar /> `

however when you render the calendar after changing display to block then the child elements aren't rendered.

i got around this by using:

`this.state.visible && <Inf

[2018-03-08 11:06] arrowfunxtion commented on #94
+1

[2018-03-12 19:43] kennetpostigo opened #184 "Range Selection - onSelect is not firing."
Hey, I wanted to try out range selection but for some reason when I would try to select a new range, the onSelect function was not firing. Does the range selection feature use something other then onSelect?

[2018-03-13 19:30] mohitbhansali opened #185 "TypeError: Cannot read property 'isRequired' of undefined"
Infinite Calendar isn't rendering and in console the following error is shown up:

./node_modules/react-transition-group/CSSTransitionGroupChild.js
node_modules/react-transition-group/CSSTransitionGroupChild.js:64

[2018-03-19 07:13] cyulin opened #186 "I got an warning in react 16.2.0"
use：
<InfiniteCalendar
  Component={withMultipleDates(Calendar)}
  selected={[
    new Date(2018, 3, 12),
    new Date(),
    new Date(2018, 3, 29)
  ]}
  interpolateSelection={defaultMultipleDateInterpolation}
/>

![](https://img.alicdn.com/tfs/TB1HZB7ev9TBuNjy0FcXXbeiFXa-1153-203.png)

[2018-03-23 18:10] stereobooster opened #187 "Status of the project"
Hi @clauderic. Thank you for this project.

Can you please tell what is the status of the project. Do you need any help on it? Maybe you are looking for maintainers?

[2018-03-26 09:34] stereobooster opened #188 "some confusion with exports/imports in src/index.js"
[code]

[2018-03-26 10:29] stereobooster commented on #188
Everything is ok. I confused syntax

[2018-03-26 10:29] #188 closed

[2018-03-29 14:31] adhesivewombat commented on #164
I would like this as well.  Also being able to select a range of months would be great.

[2018-03-30 23:29] MathiasKandelborg commented on #187
I wrote him an email a while ago asking about this project. He hasn't answered yet and I'm getting quite impatient

If he still doesn't answer after a while, would anyone be interested in helping maintain a similar calendar based on/forked from this codebase? My thoughts being that this project is way too good to just die.

There are already quite a few PRs that would help get the project up to da

[2018-04-04 10:41] Kaishiyoku commented on #187
@MathiasKandelborg The calendar component is currently being used by their own App for NirvanaHQ (https://nirvanahq.com) so I doubt that they will just abandon the repo. Anyway
it has become quite quiet.

[2018-04-04 15:35] MathiasKandelborg commented on #187
Oh, I hadn't seen that anywhere. I'll just go ahead and develop on a fork then.

[2018-04-24 18:45] NizarNi commented on #185
I am having the same issue here

[2018-04-25 07:47] stereobooster commented on #187
Ok, I guess you do not have time at the moment. I will close the issue for now. Thank you for the project

[2018-04-25 07:47] #187 closed

[2018-04-27 10:11] EthanShao commented on #164
@sun2rise , @adhesivewombat

I hope this PR ( https://github.com/clauderic/react-infinite-calendar/pull/189) can make you happy.

<img width="468" alt="38228328-5f8357f6-3735-11e8-86a7-4a860ebc6f9a" src="https://user-images.githubusercontent.com/12270220/39357735-44c8abd6-4a46-11e8-93fc-26a78637431d.png">

[2018-04-27 10:18] sun2rise commented on #164
tnx @EthanShao this is sooooo good!

[2018-05-10 08:09] mofelee commented on #176
You can change those props
https://github.com/clauderic/react-infinite-calendar/blob/master/src/Calendar/index.js#L32-L35

[2018-05-14 14:42] abbudao opened #192 "Does calendar withRange support localization?"
I'm trying to translate my calendar but the header information is not getting translated at all.
Your localization example works fine without `Component={CalendarWithRange}` though.
Minimal (not working) example:
[code]
Am I missing something? Should the localization be done elsewhere?
(Ps: Thank you for your awesome work )

[2018-05-16 12:06] qron opened #193 "Error: addComponentAsRefTo multiple copies of React loaded"
Hello,

We use react >=15.3.2 as peerDep in our app and `addComponentAsRefTo` throws an error similar to #41

[code]
React version in devDependencies seems to cause the problem:
https://github.com/clauderic/react-infinite-calendar/blob/d32f20c6e26bfcca2fb67854c90f4d82a91c3cb6/package.json#L34
https://github.com/clauderic/react-infinite-calendar/blob/d32f20c6e26bfcca2fb67854c90f4d82a91c3cb6/package

[2018-05-18 19:44] GiancarlosIO opened #194 "Error: Can't resolve 'react-transition-group/CSSTransitionGroup' (migrate to react-transition-groupv2)"
I'm using material-ui@1, it use react-transition-groupv2.
When I try to build my app i'm getting this error:
![captura de pantalla de 2018-05-18 14-46-52](https://user-images.githubusercontent.com/17274950/40254633-df2e3a60-5aa9-11e8-8988-0af6431262d9.png)

In v2 CSSTransitionGroup was removed, any plans to migrate to v2?

[2018-05-22 23:10] dilizarov commented on #7
Any work on this front, @clauderic. I'd be willing to contribute.

[2018-05-23 22:08] alighali85 commented on #185
i have the same issue!

[2018-05-25 06:52] sanchezweezer opened #195 "Wierd layout of "today" block"
arrow laydown on text "today" in chrome 66

May need to remove ablosute position of arrow

![4343343](https://user-images.githubusercontent.com/19321990/40530386-418c8796-6001-11e8-8c0e-e7c1a4037c3b.png)

[2018-05-25 08:59] Return-1 opened #196 "CSS not working with Create React App"
![screen shot 2018-05-25 at 11 57 22](https://user-images.githubusercontent.com/11403706/40535809-d4b592cc-6012-11e8-8c0c-f5d851d9e3df.png)

Im following the Usage section to the letter. I went into `node_modules` and copy pasted the .css directly in my .css files to make sure its not a build issue and the problem remains.

[2018-05-29 09:16] danbovey commented on #7
For anybody like me looking for a timeslots feature (where you view the week horizontally and time throughout the days vertically), see [react-big-calendar](https://github.com/intljusticemission/react-big-calendar).

http://intljusticemission.github.io/react-big-calendar/examples/index.html

[2018-05-30 20:30] TifaJ11 commented on #185
i ran into this trying to configure my redux store with saga middleware, was this the case with you guys? I do have a datepicker from react-md but it was working fine before I did the configuration.

[2018-06-15 09:39] stereobooster commented on #194
This PR migrates to latest `react-transition-group` https://github.com/clauderic/react-infinite-calendar/pull/197

[2018-06-15 09:40] stereobooster commented on #186
This PR should solve it https://github.com/clauderic/react-infinite-calendar/pull/197

[2018-06-15 09:41] stereobooster commented on #158
This one should fix it https://github.com/clauderic/react-infinite-calendar/pull/197

[2018-06-18 09:22] tobias-schanze opened #198 "onSelect Event type"
Hey,

it would be helpful if a "Type" is included in the onSelect event. When the onSelect event is triggered at the year additionally to the date also "year" or "month" is supplied. So that one knows exactly when the onSelect is triggered.

[2018-06-24 13:15] EthanShao commented on #195
@sanchezweezer
PR: https://github.com/clauderic/react-infinite-calendar/pull/117. Moving style to sass may solve this issue.

[2018-06-26 12:20] leron8 commented on #140
Hey we're also having this issue! I see that @mvayngrib committed a fix. Does that solve it.? It hasn't been merged for a release right?

[2018-06-26 14:51] meta-meta commented on #140
@leron8 I've had a PR open for 8 months. https://github.com/clauderic/react-infinite-calendar/issues/150
It fixes the issue.

[2018-06-26 16:11] leron8 commented on #140
Thanks @meta-meta , how could I use that fix? would I have to fork this repo and build it myself or is the only option to wait for the pull request to be merged?

[2018-06-26 16:17] meta-meta commented on #140
@leron8 Yes, I believe that's the only thing you can do until it's merged and published. If you want, feel free to use my fork by adding this to your package.json: `    "react-infinite-calendar": "meta-meta/react-infinite-calendar#built",`

[2018-06-26 16:24] leron8 commented on #140
great @meta-meta I see that it's the only change you comparing to the original repo right? https://github.com/clauderic/react-infinite-calendar/compare/master...meta-meta:master ... well besides this: https://github.com/clauderic/react-infinite-calendar/commit/d32f20c6e26bfcca2fb67854c90f4d82a91c3cb6 but it only changes README.md

[2018-07-11 10:03] Aarbel opened #200 "Question : how can we add a close cross on top right of datepicker to close the popup ?"
Hi teams,

do you now a way to help the user to close the datepicker ? (a Close cross on the top right for example).

Thanks a lot !

[2018-07-19 18:43] mmmbacon opened #201 "Handling events from onSelect will prevent the calendar from updating"
onSelect can handle events from parent component it resides in, but I believe it is losing it's reference to _this_ and is not proceeding to update the calendar. It just fires the event and then hangs up. I noticed this because when you handle and event from onSelect, the date data will be sent to the event handler but then the calendar will not update with the new selected date. The only way I co

[2018-07-19 18:50] #201 closed

[2018-07-21 19:49] Aarbel commented on #32
Hi, many people from professional areas need week days

[2018-07-23 10:58] awb99 commented on #6
Is it possible to display events now? The pull request is there, but is it merged?

[2018-07-26 10:42] kesha-antonov opened #202 "Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' https:""
![screen shot 2018-07-26 at 13 41 37](https://user-images.githubusercontent.com/11584712/43257891-ac3c6d32-90d9-11e8-95a8-84e94df71014.png)
![screen shot 2018-07-26 at 13 41 33](https://user-images.githubusercontent.com/11584712/43257892-ac612f1e-90d9-11e8-8c02-4a33b0b6f926.png)

When scrolling

[2018-07-30 23:39] barberdt commented on #142
@clauderic, on latest version (v2.3.1) and am not seeing this behavior working. Have tried to use the `scrollDate` prop as suggested in addition to the `selected` prop, but my calendar remains static without scrolling when the prop changes. Could I be missing something here?

Thanks!

[2018-08-02 09:30] kesha-antonov commented on #7
Since it does not have Time picker I'm switching to another package :(

[2018-08-17 15:12] mbm-rafal opened #203 "Locale is deafult on initialize"
I have weird issue, when rendering calendar I have default english langiage set even though I'm using

[code]

attribute, but when rerendering it (going back step) language is good. Any advise about this ?

[2018-08-20 19:04] brendonlamb opened #204 "Select "end" date first when using withRange"
Is this possible to conditionally reverse the order that dates are selected when using _withRange_ ? I can't find anything in the docs about it.

Basically, I'm using a range selection like this:
![image](https://user-images.githubusercontent.com/1816511/44359088-d8847d80-a484-11e8-9782-a06693dd812c.png)

Both buttons display the calendar, it's very intuitive _unless the user makes a mistake_  ...

[2018-08-20 20:13] mbm-rafal commented on #203
Any1 can help why initially locale is not being loaded?

[2018-08-21 07:02] shivamgupta1996 opened #205 "Addind custom text to the"

[2018-08-21 18:34] mbm-rafal commented on #203
@shivamgupta1996  the point is that I want to use i18n to translate for me, not making myself setting up specific strings... Do you know how can I extract formats from date-fns/locale ?

Tried `.localize.weekdays({type: 'narrow'}),` but no luck.

also how to access `todayLabel` object from date-fns?

[2018-08-24 13:33] JohanTh commented on #202
Did you solve this? I'm suffering from the same message when scrolling.

[2018-08-24 17:41] kesha-antonov commented on #202
@JohanTh Nope

[2018-08-28 17:12] offsky commented on #26
I never created a pull request. Sorry. But you can check out our fork where this is incorporated.
https://github.com/Toodledo/react-infinite-calendar

[2018-08-30 13:56] vlamitin opened #206 ""Set date to {X}" tooltip is always in english locale"
When using ```display="years"``` we see tooltip like "Set Date to Septemper 1st, 2018", even though locale is not english

here are my locale settings
[code]
as I can see [here](https://github.com/clauderic/react-infinite-calendar/blob/d32f20c6e26bfcca2fb67854c90f4d82a91c3cb6/src/Years/index.js#L92), tooltip text is taken from "title", and it is not localized.

Is there any way to switch the toolt

[2018-08-31 10:31] RyunDoKim commented on #192
same issue here... Did you fix it?

[2018-09-02 19:37] shivavelingker commented on #26
@clauderic I've never done a PR before, but it should be fine for me to attempt one, right? `Contributing.md` says to check before creating a new feature.

[2018-09-11 13:45] mbm-rafal commented on #203
Any advice on that one? Trying to initially set locale but no luck. Has anyone got this problem?

[2018-10-07 00:43] NHebrard opened #207 "Is there a way to use it as a simple year picker ? (Disable day selection)"
My application uses this lovely calendar component. I am encountering a new use case where I would like to use it as a simple year picker. I almost achieved my goal thanks to the display property set to "years" and the showMonthsForYears display option set to "false".
The year selection works well, but I get redirected to the day selection. Is there a way to disable the day selection?

[2018-10-11 06:45] arrlancore commented on #176
You can set the `min` props, with the date that you expected.

[2018-10-22 00:31] varunrayen opened #209 "Wrong month names in the years view"
The month names are displayed incorrectly on load.
![screenshot at oct 21 20-28-53](https://user-images.githubusercontent.com/589444/47274185-352d1300-d570-11e8-8c5a-a6118fcc51aa.png)

It displays correctly only after I click any month and then reload.

[2018-10-25 21:39] daiky00 commented on #6
@clauderic @Makashov is this already possible? please tell me is ready! it has been two years waiting on this feature

[2018-10-26 19:32] daiky00 commented on #4
Hi @olslash how did you get the red pill with the number 5 in your calendar? look at the pic below
![image](https://user-images.githubusercontent.com/15005162/47588446-cb27bb80-d92b-11e8-93bd-e66120f01793.png)

[2018-10-26 21:46] daiky00 commented on #44
@clauderic I just found this how do you pass a ```DayComponent```? what attribute do I need to use?

[2018-11-05 16:13] Nazarshah commented on #171
Hi Dear i am  very upset about nanana what this plz kindly helping me soonly .My biggest issue  i filling to online visa form all the from was correct but may DOB  Colum  is Red SYSTEM Asking NaNANA not is Registered ur DoB Kidly Answar send soonly My DoB 15 dec 1978

[2018-11-29 17:21] jameswillett opened #210 "Fix Konami Code in Docs"
⬆️⬆️⬇️⬇️⬅️➡️⬅️➡️↩️

[2018-12-09 12:17] xuopled commented on #70
I'm looking for the same feature. Seeing fast if a date has an event attach to it.

And more it could be awesome to customize the color:

[code]

[2018-12-23 10:20] anshumanv opened #211 "Separated months view"
I want to achieve something like this, is it possible to have some spacing between the months as specified above?

![image](https://user-images.githubusercontent.com/21009455/50382639-4e665300-06ca-11e9-83e6-230b59cd509a.png)

[2019-01-09 15:45] rew62 opened #212 "jsfiddle not working"
Hi clauderic,

The jsfiddle at https://jsfiddle.net/clauderic/4rhn03do/ does not seem to be working. Java console says Failed to load resource: the server responded with a status of 404 () for https://npmcdn.com/react-infinite-calendar@2.3.1/dist/umd/react-infinite-calendar.min.js

Thanks,

[2019-01-10 05:58] case-dubs opened #213 "Distinguishing between whether onSelect occurs on a day, month, or year."
@clauderic thank you so much for creating this awesome library! I love it.

Is there any way to distinguish in the onSelect callback whether the date that was selected was just the year, the month, or the day? I'm working on a project where we want to enable users to select a year or month+year combination without necessarily selecting a whole date.

Also, if the header is hidden by setting showHe

[2019-01-18 15:09] dalborgo commented on #185
Same issue with redux store and saga middleware. Any solutions?

[2019-01-30 03:16] xunuoi opened #216 "Nobody maintain this Project?"
If no one maintain the Project, could the author hand over it to other contributor or declare the project a s deserted?

There are many issues already.

[2019-01-30 11:46] sa-js commented on #196
Did you import the css file in your component?

[2019-02-18 16:21] flaviofernandes004 opened #217 "Year First calendar doesn't scroll to the current year if nothing is selected"
Problem:
The react-infinite-calendar, when parameterized with the display 'year', does not scroll to the current year. This only happens when there is a date selected.

After looking through the code I may have found the cause https://github.com/clauderic/react-infinite-calendar/blob/d32f20c6e26bfcca2fb67854c90f4d82a91c3cb6/src/Years/index.js#L129

To achieve the desired behavior, the scrollToInde

[2019-03-26 05:25] dtokarczyk opened #218 "Bounces week in calendar"
Hello,

always at the turn of April and May I have one week which is bounced and calendar don't looks fine.

What casuses it? I don't have any ideas anymore.

Thanks!

![Screenshot from 2019-03-26 06-23-58](https://user-images.githubusercontent.com/12712293/54973348-ce34df80-4f8f-11e9-8787-9454a1b44aea.png)

[2019-03-26 19:14] nordjacht commented on #218
Hi, it's not always at the turn of April and May as mentioned @dtokarczyk
The problem is always between first and the second month available in the calendar.

![obraz](https://user-images.githubusercontent.com/47160346/55026675-c44cc400-5003-11e9-9ef8-67d707771f19.png)

[2019-04-01 04:36] HongAnhDo opened #220 "locale not apply"

[2019-04-01 04:37] HongAnhDo commented on #220
<InfiniteCalendar
                        locale={{
                            locale: require('date-fns/locale/fr'),
                            headerFormat: 'dddd, D MMM',
                            weekdays: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
                            blank: 'Aucune date selectionnee',
                            todayLabel: {

[2019-04-05 13:06] alouini333 commented on #220
Did you install date-fns ?
https://date-fns.org/

[2019-04-18 08:23] sansari150894 commented on #184
I am also facing the same problem which event function is called when range is selected?

[2019-05-27 10:57] cyrus-za commented on #185
Same issue

[2019-07-13 19:26] MartinNuc opened #221 "Interpolate function is called after onSelect is called"
I am trying to use this library with [multi selection on](http://clauderic.github.io/react-infinite-calendar/#/enhance-default-functionality/multiple-date-selection?_k=6jfit5).

Problem is that `onSelect` is called with a single value not the whole array. The reason is because interpolate function is used to update internal state but not for calling `onSelect`.

I will try to create PR.

[2019-07-25 19:58] csawala commented on #171
Seeing a similar issue in Chrome when selecting a range.
Setting a value for `blank` in `locale` prop works for single date selections, but results in this warning in Header when switching to a range: `Received NaN for the `children` attribute`

[2019-07-31 18:48] kinoli commented on #195
Add this...
[code]

[2019-08-16 17:08] daverag commented on #167
@clauderic We are now 2019 and the docs haven't been updated.  I need to know how to prevent the selection of a date, how do I achieve the functionality of beforeSelect in newer versions?

[2019-08-20 12:54] Aarbel commented on #32
any news for this feature ?

[2019-08-20 13:00] Aarbel opened #223 "Is this repo maintained ?"
@clauderic have you found new maintainers for this lib ?

[2019-08-20 14:00] Aarbel opened #224 "Bug : build problem with preprocess-css"
After yarn start :

`Module build failed: Error: /Users/clementfradetnormand/IT-Projects/Front-End/react-infinite-calendar/demo/src/index.js: Cannot find module './preprocess-css.js'`

[2019-08-20 21:57] Aarbel commented on #220
@HongAnhDo have you solved your problem ? Facing same issue

[2019-08-20 22:09] Aarbel commented on #220
Ok found the problem : version package of `date-fns`

I installed `2.0.0` but this lib supports `1.27.2`

[2019-09-08 06:45] nordjacht commented on #218
@clauderic @dtokarczyk Hello, problem still exists. Is something solved in this issue?

![Screen Shot 09-08-19 at 08 42 AM](https://user-images.githubusercontent.com/47160346/64484605-0d40af80-d215-11e9-97b1-14e68f8a117e.PNG)

[2019-09-21 22:34] varatharaj-infrit commented on #184
@kennetpostigo , @sansari150894
Refer https://stackoverflow.com/questions/44085069/react-infinite-calendar-range-selection

When the event type is 3 then its range selection.
onCalendarSelect = (e) => {
        if (e.eventType === 3) {
            this.setState({ selectedDates: {
                start: e.start,
                end: e.end,
            } });
        }
    }

[2019-09-21 22:37] varatharaj-infrit commented on #184
@kennetpostigo , @sansari150894
Refer https://stackoverflow.com/questions/44085069/react-infinite-calendar-range-selection

**_When the eventType value is 3 then its range selection._**

[code]

[2019-09-23 04:10] qkreltms commented on #220
Still same in     ```"react-infinite-calendar": "^2.3.1",
    "@types/react-infinite-calendar": "^2.3.3",```

[2019-09-23 04:15] qkreltms commented on #220
I'm using Typescript with React and I tried

datePicker.tsx
[code]

index.d.ts
[code]

It works, I think it is due to index.d.ts

[2019-10-09 18:15] JotaRaffalli commented on #220
Is there a fix to this issue yet?

[2019-10-10 08:22] Aarbel commented on #32
again, does the infinite calendar team plan to work on it ? Thanks a lot !

[2019-10-11 19:10] pazsea commented on #220
Ah this worked for me too. Thank you!

[2019-10-13 15:21] #176 closed

[2019-12-02 08:45] Aarbel opened #225 "Selection don't work with 'onclick' events under iOS13 wkwebview"
'onclick' events are broken under iOS 13 wkwebview. More details here: https://github.com/facebook/react/issues/17258

The solution is to use 'onTap' detection, which works with both click and all touch devices.

Good libraries for that :
https://github.com/GianlucaGuarini/Tocca.js
https://github.com/hammerjs/hammer.js/

[2019-12-02 08:46] Aarbel commented on #223
@clauderic any news for that ? Please help us

[2019-12-23 14:23] vitalybe commented on #224
I don't think that `yarn start` is supported. Use `yarn storybook`

[2020-01-06 09:29] Aarbel commented on #223
@clauderic UP

[2020-01-28 21:36] ragnarkurmwunder opened #226 "Parent component update causes child calendar animation to break"
The scenario I am having in simplified terms:
[code]
Animations break and dates seem unselected,
though the calendar retains the selected values.
Parent element update causes calendar update which breaks animation.

[2020-02-02 09:13] ragnarkurmwunder opened #227 "Broken theme while using range select and landscape"
<img width="604" alt="Screenshot 2020-02-02 at 11 11 50" src="https://user-images.githubusercontent.com/28702260/73605902-fd06e380-45ac-11ea-93f4-57d85fcebc26.png">

[2020-02-18 02:17] webdesign2be commented on #223
@clauderic pls tell us if you stopped maintaining or need help with anything.
We all would like to help maintaining this great repo.

[2020-02-22 07:50] maximdx opened #228 "Is it possible to add Month text support in locale?"
Now we can set weekdays texts by providing the locale object.
Is it possible to add Month text support in locale as we do in weekdays please?

[2020-02-24 15:00] mebarlew commented on #203
same problem here all done like on website but locales does not work

so i managed to make it work all i had to do is to downgrade the version of date-fns  and all started to work

[2020-02-24 15:27] bart-lewandowski-conichi commented on #228
especially cause passing locale in locale object like on the website does not work

[2020-02-28 08:50] qkreltms commented on #223
I've found that https://github.com/appannie/react-infinite-calendar is maintained which forked this library

[2020-03-23 06:39] qkreltms opened #231 "onClickDay handler"
I pop up the calendar when user hits some button so I need to add a functionality to close it when user hits day at last.
In this case I think we should add onClickDay handler.

[2020-03-23 06:46] qkreltms commented on #228
It seems you cannot provide month as below, but you can edit month texts what you want at date-fns/locale/{language}/build_format_locale
[code]

[2020-03-31 12:27] ChineseGhost opened #232 "Selected date in input text not change follow the locale."
Now I'm using ngx-bootstrap datepicker and following this link
[https://valor-software.com/ngx-bootstrap/#/datepicker#locales](url) to set locale of the date format to thai date (th-be). Then when I click the input text the calender showing with thai pattern.
![image](https://user-images.githubusercontent.com/10579886/78025847-e8648300-7384-11ea-8f3a-781bb0e5cdc9.png)

But when I select the date,

[2020-04-02 04:25] ChineseGhost commented on #232
This problem is solved by updating the ngx-bootstrap to 5.6.1.

[2020-04-02 04:25] #232 closed, assigned to nobody

[2020-04-04 03:45] maximdx commented on #228
Good to know that. Thanks for the help!

[2020-04-04 03:45] #228 closed, assigned to nobody

[2020-04-05 19:12] ragnarkurmwunder opened #233 "Getting warnings of componentWillReceiveProps"

[2020-04-07 10:49] hosseinjalili commented on #233
I got this warning too!

[2020-04-09 14:57] flieks commented on #142
I am having the same issue, its not scrolling with scrollDate

[2020-04-14 15:32] Wisertown commented on #233
I am getting this warning too - what did you @ragnarkurmwunder  and you @hosseinjalili do to fix it? I tried running the npx codemod but it keeps skipping

[2020-05-11 22:42] igor-plotnikov commented on #209
Is this still not fixed?!

[2020-05-18 00:15] tareq-rar commented on #203
Hi all, good job guys what have you done is amazing, but this issue still exists.

[2020-06-03 15:13] kahurangitama opened #234 "Calendar is jumping to the center of the screen on open"
Hi!
First of all, thank you for such a great component!

I've experienced a problem.
I have a side panel which has nice slide CSS-animation.
However if I put this calendar into it this animation behaves very strange:
1. it push all panel to the center of the screen.
2. and move it back to the place where animation should stop.

I suppose it happen when plugin calculates absolute postitions.
Unfort

[2020-06-11 19:14] MartinNuc commented on #221
Closed the PR since it hasn't been merged for one year.

[2020-07-31 14:25] timurridjanovic opened #235 "Adding events"
Is there a way to add events to the calendar? For example: (From august 1st to august 5th, vacation at the cabin with friends)

[2020-08-11 16:14] shaohaolin commented on #235
+1

[2020-08-12 14:46] yohanelly95 opened #236 "Will this support React Hooks ?"

[2020-08-20 14:44] #236 closed, assigned to nobody

[2020-09-07 11:40] neerajkhaturia commented on #185
same issue.

[2020-09-15 16:03] boopalanjayaraman opened #237 "Disabling days does not work as expected when used with "weekStartsOn" option"
Hi,

Let me start by saying how much I like react infinite calendar and how useful this has turned out to be. This is a life saver.

There is a minor issue here. Disabling days using "disabledDays" attribute does not work well with "weekStartsOn" attribute. Without the latter, it works fine.

I wanted to disable the weekend dates, so I initially wrote it as `disabledDays = {[0, 6]} ` corresponding

[2020-09-25 22:52] uchidayuma commented on #220
I work too !
thanks.

[2020-10-19 14:37] scsskid commented on #237
[code]
seems to work, while `disabledDays={[1, 2, 3, 4, 5, 6, 7]}` leaves nov 1st enabled, but sundays disabled 🤔

[2020-10-29 16:58] sflahave commented on #7
I like Ant Design's TimePicker component as a design guide - it's more compact than Material-UI time picker with it's skeumorphic analog clock design. https://ant.design/components/time-picker/

[2020-11-06 11:48] githubjeka opened #238 "Wrong value for year"
![image](https://user-images.githubusercontent.com/874234/98362660-b3b55a00-203e-11eb-92c2-9da71635d4e1.png)

![image](https://user-images.githubusercontent.com/874234/98362771-dcd5ea80-203e-11eb-96e6-c630a20afead.png)

![image](https://user-images.githubusercontent.com/874234/98362827-f4ad6e80-203e-11eb-91ed-68f36ab6c243.png)

![image](https://user-images.githubusercontent.com/874234/98362890-0f7

[2020-11-20 07:26] Xx-AmrHossam-xX commented on #238
I have just seen this library and i have no benefit in defending it.I was actually checking the issues to know whether i would use it or not.When you click today , it doesn't change any value from the above neither the day nor the month nor the year until you actually select it from the calender.The today button just scrolls to today both in year and month , but as long as you haven't selected it

[2020-11-20 19:24] githubjeka commented on #238
This is not expected behavior to me.

[2020-12-01 05:53] davidjmstewart opened #239 "Scroll resets to first selected element in a multipleDates calendar when state is updated"
When using multiple dates functionality, the calendar resets to the zoom to focus on the first selected date on a re-render.

I think most users would expect the scroll to remain unchanged. Is there a way to use the `InfiniteCalendar` API to avoid this?

See this [CodeSandbox](https://codesandbox.io/s/react-infinite-calendar-scroll-bug-e9mg1)

![ezgif-3-f09e75df0763](https://user-images.githubuser

[2020-12-09 19:27] makis-spy commented on #184
In case anyone else has a brain freeze.... for onSelect only update the state or do something if if (e.eventType === 3)  like @varatharaj-infrit said... except the is no onCalenadesSelect

[2020-12-18 22:20] fteichma commented on #239
This is a problem with the height property,
**_quick fix: remove the height prop_**

[code]

[2021-01-07 10:37] robertfoster550 commented on #220
Hello! Hopefully someone can provide some assistance, as I seem to be running into the same issue.

I am using the calendar in an app where the user can swap between German and English. My locale constant is set up like this:
[code]

Everything works well in both languages, except for the month names, which always appear in English. I saw the note about the date-fns version, but unfortunately othe

[2021-01-12 10:48] robertfoster550 opened #240 "Changing locales does not change month names"
Hello! Hopefully someone can provide some assistance, as nothing I try seems to work.

I am using the calendar in an app where the user can swap between German and English. My locale constant is set up like this:
[code]

Everything works well in both languages, except for the month names, which always appear in English. I've seen on other issue threads that this might be due to a problem with the

[2021-01-18 18:18] hedaktibo commented on #234
Use `autoFocus={false}`. Helped me.

[2021-01-19 08:19] robertfoster550 commented on #240
I was finally able to figure out the answer myself, and it wasn't too bad. Hopefully it might help someone else struggling with this.

I didn't use the resolution. Instead, all I had to do was provide the locale (inside of the locale object shown above) with the location of date-fns inside of the node_modules that come with the react-infinite-calendar. So now my 4th line of code posted above reads

[2021-01-19 08:19] #240 closed, assigned to nobody

[2021-01-19 08:23] robertfoster550 commented on #220
For anyone else looking for a solution, I was able to figure out one for me.

Largely my code posted above works, but instead of a resolution, I simply require the date-fns version from inside the react-infinite-calendar node_module, instead of the date-fns one like above. So my 4th line of code (as posted here) now reads:
``locale: require('react-infinite-calendar/node_modules/date-fns/locale/de'

[2021-01-19 13:16] qkreltms commented on #220
Seems fixed issue latest version `@type/react-infinite-calendar`

[2021-02-06 06:50] kashmir1 opened #241 "Remove selection handler"
Hello.
Thank you for the wonderful calendar

My problem is this

`<InfiniteCalendar onSelect={function(date) { alert('You selected: ' + format(date, 'ddd, MMM Do YYYY')) } />`

I want to show another message if I remove selection with date.
I use Multiple Date Selection

[2021-02-18 02:59] panda6412 commented on #173
Also wondering !

[2021-04-23 00:11] bneigher commented on #223
I just upgraded every dependency (webpack 5, storybook 6, ect.) here: https://github.com/bneigher/react-infinite-calendar

[2021-04-23 00:49] bneigher opened #242 "Cannot read property 'root' of undefined"
Any idea why I would be unable to use this in my gatsby project?
I'm seeing an error like this:
[code]

in the console looks like this line `Container['default'].root` is empty

[code]

https://github.com/clauderic/react-infinite-calendar/blob/master/src/Calendar/index.js#L19-L22

It's as if the Container ('./Container.scss.js') in the lib build is empty.. I did a bunch of updates assuming my reac

[2021-04-23 01:59] #242 closed, assigned to nobody

[2021-04-25 20:29] Aarbel commented on #223
@clauderic would be amazing please to help those guys to maintain your lib ;)

[2021-04-25 21:46] clauderic commented on #223
Hey all, sorry for not giving this library the attention it deserves over the past couple of years.

If any of you would like to help maintain it, that'd be great. I personally no longer have time to dedicate to this library, and don't really use it anymore so it's hard to empathize with some of the problems folks have been facing.

Releases aren't automated for this library so adding changesets w

[2021-04-26 06:33] Aarbel commented on #223
Thanks a lot @clauderic

@appannie @bneigher are you up for it with me ?

[2021-04-26 06:36] bneigher commented on #223
@Aarbel I already opened up a PR over at the fork mentioned at @appannie with some updates and down to help add features

[2021-04-26 06:48] Aarbel commented on #223
@SBoudrias @appannie Are you up for it ?

[2021-04-26 18:45] SBoudrias commented on #223
Hey, we've been maintaining a fork over https://github.com/appannie/react-infinite-calendar for a few years already. And we've been releasing to npm under [@appannie/react-infinite-calendar](https://www.npmjs.com/package/@appannie/react-infinite-calendar)

You're all welcome to help us out maintaining that fork.

[2021-04-28 07:50] Aarbel commented on #223
Hmmm, @SBoudrias this repo has a lot of stars / followers, maybe would be better for the ecosystem to centralize all on this repo no ?

[2021-04-29 00:24] SBoudrias commented on #223
I'm okay either way if we get the permissions here and to npm, we can release our updates under a new major and start from there.

[2021-05-12 10:16] Aarbel commented on #223
@SBoudrias great !

@clauderic can you give us all the admin access ?

[2021-05-31 12:00] ghost commented on #209
No, it's still not fixed.

[2021-06-17 09:19] ooo2003003v2 opened #244 "Blank calendar in init"
Hello there. I am just starting using this calendar for my project.
It shows a blank calendar but date selections show up after I scroll down. Any idea why?
![image](https://user-images.githubusercontent.com/55082067/122367792-55b30280-cf8f-11eb-924f-34e8d07e49b0.png)

[2021-06-21 10:21] ooo2003003v2 commented on #244
I found the problem. I set display is none in default so that it cannot get the height in init.

[2021-06-21 10:21] #244 closed, assigned to nobody

[2021-06-24 19:57] #175 closed

[2021-07-01 04:29] SharpCoder opened #245 "Security audit fails due to a dependency in recompose"
When running a security audit:

[code]

A low-severity vulnerability is detected due to a dependency on recompose v0.22. The underlying issue is that recompose takes a dependency against fbjs which takes a dependency on an old version of node-fetch.

I poked around the recompose repo and it appears the risky dependency in question was removed in their latest version. If react-infinite-calendar wer

[2021-07-01 13:14] SharpCoder commented on #245
For what it's worth, I don't think v0.30.0 resolves the security vulnerability. There is an actively maintained version of recompose called `react-recompose` which might do the trick.

That being said, I did find a local workaround. I use _pnpm_ as my package manager, and adding this to my package.json file works to patch the audit.

[code]

[2021-07-07 11:10] Aarbel commented on #223
@clauderic up ;)

[2021-08-06 06:20] yangfei4913438 opened #247 "[enhancement] user can only select 'year' or 'year, month' or 'year, month, day'"
add option views or other name for only select date.

arguments for new option(example: views):

- year

this image change to no next step.  and toolbar only show year.

![image](https://user-images.githubusercontent.com/15223848/128464934-deea53b8-aaef-45ea-a993-41f50de0c0be.png)

- month

this image change to no next step. and toolbar only show year and month.

![image](https://user-images.githu

[2021-09-10 11:04] #192 closed

[2021-10-14 10:27] brooth commented on #239
I fixed it by moving the component declaration out of the building method as follows:

[code]

[2022-05-22 12:57] sators commented on #70
You could achieve this using the changes in PR #137

[2022-06-01 13:28] jbagaresgaray commented on #233
any news on this? Is there a fix to this?

I encounter this when passing a useState hooks on `onSelect` when InfiniteCalendar uses

`Component={withRange(Calendar)}`

UPDATE:
This resolves the problem

https://github.com/clauderic/react-infinite-calendar/issues/163

[2022-08-25 06:26] ludvigaldrin commented on #239
Did you guys solve this? I tracked it down to the onSelect={updateSelectedCalendarDates}. Since it updates the state it then rerenders the component. I could understand that if you have the state in selected. But I tried with different statets and it still rerenders. Any update or fix?

[2022-11-15 15:54] YuriyDyachkov opened #248 "Warnings of componentWillReceiveProps and componentWillUpdate"
Thank you for your component, it saved my life. Can you please update it because I am getting warnings?!
![image](https://user-images.githubusercontent.com/70245262/201964815-ba9ca2d4-d118-47a2-86fd-d4deb5ca7552.png)

This answer did not help me [https://github.com/clauderic/react-infinite-calendar/issues/163](url)